body,div,textarea,button {
    margin: 0;
    padding: 0;
}
.container {
    width: 600px;
    height: 500px;
    margin: 100px auto 0;
}
.inputbox {
    width: 400px;
    height: 50px;
    border: 1px solid goldenrod;
}