/*reset css*/
@media only screen and (max-width: 980px) {
  body {
    width: 980px;
  }
  .github {
    display: none;
  }
}

body,p {
  margin: 0;
}

button {
  margin: 0;
  border: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*reset css end*/
/*==================================================*/


/*frame css*/
header {
  background-color: rgba(78, 14, 105, 1);
  width: 100%;
  height: 80px;
  position: relative;
}

.header-wrap {
  width: 980px;
  height: 80px;
  position: relative;
  margin: 0 auto;
}

.logo {
  width: auto;
  height: 50px;
  position: absolute;
  left: 0;
  bottom: 5px;
}

.header-nav {
  position: absolute;
  right: 0;
  bottom: 5px;
}

.nav {
  overflow: auto;
  zoom: 1;
  list-style-type: none;
  color: white;
}

.nav li {
  float: left;
  padding-left: 14px;
}

.github {
  position: absolute;
  bottom: 0;
  right: 10px;
}

footer {
  background: black;
  color: white;
}

.footer-nav {
  border-bottom: solid 1px white;
  text-align: center;
  padding: 10px 0;
}

.footer-nav  ul {
  display: inline-block;
}

.footer-nav ul li {
  display: inline;
  
}

.link {
  width: 980px;
  position: relative;
  margin: 30px auto;
  overflow: auto;
  zoom: 1;
}

.link-content {
  width: 186px;
  margin-left:10px; 
  float: left;
}

.link-content ul li:hover {
  text-decoration: underline;
}

.info {
  text-align: center;
}
/*frame css end
/*==================================================*/


/*index*/
.banner {
  width: 100%;
  background: url(../img/banner-bg.jpg) no-repeat center;
  background-size: cover;
}

.banner-wrap {
  height: 500px;
  width: 980px;
  margin: 0 auto;
  position: relative;
}


.banner-content {
  background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.1) 75%, rgba(255,255,255,0));
  background: -o-linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.1) 75%, rgba(255,255,255,0));
  background: -webkit-linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.1) 75%, rgba(255,255,255,0));
  background: -moz-linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.1) 75%, rgba(255,255,255,0));

  width: 30%;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 10px 30px 10px;
  color: white;
  text-align: right;
}

.banner-content h3 {
  font-size: 14px;
  margin: 0 0 12px 0;
}

.banner-content p {
  font-size: 12px;
  line-height: 150%;
}

.introduce {
  background: rgba(184, 184, 156, 0.5);
  height: 500px;
}

.introduce-wrap {
  width: 980px;
  margin: 0 auto;
  position: relative;
  display: -webkit-flex;
  display: flex;
}

.introduce-content {
  background-color: white;
  width: 320px;
  margin: 10px 5px 0 5px;
  padding: 5px;
  
}

.introduce-content p {
  margin: 0;
  padding: 15px 30px 25px 30px;
  font-size: 12px;
  line-height: 170%;
}

.myself {
  background: white;
  height: 400px;
}

.myself-wrap {
  width: 980px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.avatar {
  width: 160px;
  height: 160px;
  border-radius: 100%;
  position: relative;
  top: -50px;
}

.myself-wrap h3 {
  margin: 0;
  font-size: 20px;
  font-family: "Century Gothic";
  color: black;
}

.myself-wrap p {
  font-size: 14px;
  color: black;
  width: 600px;
  margin: auto;
  text-align: left;
  text-indent: 2em;
}

/*index end*/
/*==================================================*/

/*blog*/
.contain {
  background: rgba(184, 184, 156, 0.5);
}

.contain-wrap {
  width: 980px;
  margin: 0 auto;
  position: relative;
  padding-top: 10px;
  display: flex;
  display: -webkit-flex;
  
}

.contain-left {
  -webkit-flex:2;
          flex:2;
  
}

.contain-right {
  -webkit-flex:1;
          flex:1;
}

.blog {
  background: white;
  padding:10px;
  margin: 5px;
}

.blog h1 {
  color: rgba(77, 15, 144, 1);
  font-size: 16px;
}

.blog h2 {
  color: #666;
  font-size: 12px;
}

.blog article p{
  text-indent: 2em;
  font-size: 14px;
  line-height: 150%;
}

.blog-topic {
  width: 50px;
  margin-left: -60px;
  float: left;
}

.blog-topic > p {
  color: white;
  text-align: center;
  padding: 5px;
}

.blog-date {
  background: rgba(77, 15, 144, 0.9);
}

.blog-tag {
  background: rgba(132, 67, 203, 0.8);
}

.page {
  margin: 0 auto;
  text-align: center;
}

.page ul {

}

.page ul li {
  display: inline-block;
  padding: 10px 15px;
  background: white;
  color: black;
  font-size: 14px;
  margin: 5px 0;
}

.page ul .active {
  background: rgba(132, 67, 203, 0.8);
  color: white;
}

.search,
.nav-tags,
.calendar,
.tags {
  background: white;
  margin: 5px;
}

.search {
  padding: 20px;
}

.search input {
  margin: 0;
  padding: 5px 5px 5px 35px;
  font-size: 15px;
  height: 25px;
  background: url(../img/icon-search.png) no-repeat left center ;
}

.search button {
  margin: 0;
  width: 40px;
  height: 40px;
  background: rgba(134, 149, 168, 0.5);
  border: 1px solid rgba(0,0,0,0.3);
}

.nav-tags {
  background: white;
  margin: 5px;
}

.nav-tags li {
  padding: 10px;
  border-left: 3px solid rgba(153, 36, 157, 0.8);
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

.nav-tags li:hover {
  border-left: 3px solid #333;
}

.calendar {
  padding: 25px;
}

.calendar table {
  width: 100%;
}

.calendar .time-select tr th {
  font-weight: normal;
  line-height: 150%;
  border-bottom: 1px solid rgba(0,5,0,0.2);

}
.calendar .time-select  {
  border-collapse:collapse;
  table-layout:fixed;
}

.tags {
  padding: 10px;
  color: rgba(153, 36, 157, 0.8);
}

.tags-content {
  font-weight: bold;

}

.tags-content li {
  display: inline-block;
  padding: 2px;

}

.tags-content .larger {
  font-size: 1.8em;
}

.tags-content .large {
  font-size: 1.4em;
}
/*blog end*/
/*==================================================*/

/*gallery*/
.gallery-tag {
  margin-top: 10px;
  display: inline-table;
}
.gallery-tag li {
  display: inline-table;
  padding: 10px 15px;
  margin: 0;
  background: white;
  border-top: 3px solid rgba(233,123,12,0.7);
  border-bottom: 1px solid rgba(233,123,12,0.7);
}

.gallery-tag .active {
  border-top: 3px solid rgba(233,123,12,0.7);
  border-bottom: 1px solid white;
}

.gallery-tag li:hover {
  background: rgba(233,123,11,0.3);
}


.gallery-tag-content {
  background: white;
  margin: 0 5px 10px 0;
  padding: 15px;
  overflow: auto;
  zoom: 1;
}

.more {
  background: white;
  margin: 0 5px 10px 0;
  padding: 15px;
  width: 650px;
}

.gallery-tag-content section {
  margin-bottom: 10px;
}

.col-1,
.col-2 {
  position: relative;
  float: left;
}

.col-2 {
  width: 48%;
  margin: 10px 5px 10px 0;
}

.col-1 {
  width: 24%;
  margin: 10px 5px 10px 0;
}

.gallery-tag-content article {
  padding: 10px;
  color: white;
}

.gallery-tag-content img {
  width: 100%;
}

.sytle {
  float: left;
  width: 25px;
  height: 25px;
  border: solid 1px white; 
  border-radius: 100%;
  text-align: center;
}

.gallery-text {
  padding-left: 30px;
}

.gallery-text > p {
  font-size: 14px;
  line-height: 130%;
}

.gallery-title {
  margin: 0;
}

.gallery-style-J {
  background: rgba(234,123,212,0.7);
}

.gallery-style-A {
  background: rgba(24,123,212,0.7);
}

.gallery-style-B {
  background: rgba(24,3,212,0.7);
}

.contain-right .empty {
  height: 45px;
}

.rank {
  background: white;
  padding: 10px;
  margin: 10px 5px;
}

.number {
  display: inline-block;
  background: rgba(23,23,123,0.6);
  border-radius: 100%;
  text-align: center;
  width: 20px;
  height: 20px;
  color: white;
}

.graph {
  display: inline-block;
  border: 1px solid rgba(23,23,123,0.6);
  width: 60%;
  height: 15px;
}

.bar {
  position: relative;
  text-align: left;
  display: block;
  background: rgba(23,23,123,0.6);
  height: 15px;
}
/*gallery end*/
/*==================================================*/

