// * variable.less


// font
// ==================================================
@default-font-size:                 14px;
@small-font-size:                   12px;
@large-font-size:                   16px;

@default-font-family:               "Helvetica Neue", Helvetica, Arial, sans-serif;


// color
// ==================================================
@gray-dark:                         lighten(#000, 20%);   // #333
@gray:                              lighten(#000, 33.5%); // #555
@gray-light:                        lighten(#000, 46.7%); // #777

@brand-default:                     #a8a8a8;
@brand-primary:                     #3A89C9;
@brand-success:                     #61C155;
@brand-warning:                     #F8A13F;
@brand-danger:                      #E84A5F;


// base
// ==================================================
@content-margin:                    15px;
@content-padding:                   10px;

@default-border-radius:             4px;
@large-border-radius:               6px;
@small-border-radius:               3px;