body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}

body{
	background: #eee;
}

a{
	text-decoration: none;
}

li{
	list-style-type: none;
}