/*主页面的css*
*******************************************************************************************/
#box1{position: relative;}
#box1 img{width: 100%;}
#box2{background:linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 137px;
    width: 400px;
    position: absolute;
    top: 452px;
    left: 800px;}
#box2 h3{
    color: white;
    text-align: right;
    padding: 13px 20px;
}
#box2 p{
    color: white;
    text-align:left;
    text-indent: 2em;
}
#piccontainer{height: 550px;width: 1050px;margin: 10px auto;}
.display{
    width: 340px;
    height: 400px;
    background-color:white;
    float:left;margin: 10px 5px;
}
.display:hover{
    background-color: #c2ffc5;
}

.display img{width: 320px;height: 200px;padding: 10px;}
.display p{padding: 15px 30px;font-size: 15px;text-indent: 2em;margin-top: -5px;}
#in{
    background-color: white;
    height: 400px;
    margin: 0px;
    /*padding: 10px;*/
    width: 100%;
    position: relative
}
#in img{
    position: absolute;
    width: 100px;
    /*padding: 0 600px;*/
    margin-top: -50px;
    left: 47%;

}
.Self-introduction{
    /*background-color: #97d8f4;*/
    width: 50%;
    margin: 0 auto;
    position: relative;
    top: 80px;
}
.Self-introduction h1{
    /*padding: 10px 0 ;*/
    font-size: 25px ;
    text-align: center;
    text-indent: 0px;
    color: #808080;
}

.Self-introduction p{
    padding-top: 20px;
    font-size: 14px;
    line-height: 150%;
}
/*博客页面的css
********************************************************************************************/
body,h1,h2,h3,h4,h5,h6,ul,ol,p,li{margin: 0;padding: 0;font-family: cursive}
body{background-color: #eaeaea;position: relative}
h1{font-size: 16px;padding:20px 0px 10px 15px;color: #6b22b4
}
h2{font-size: 12px;color: #666;padding:0px 0px 10px 15px }
p,pre{font-size: 12px;color: #666;padding: 0px 15px 0px 15px;text-indent: 2em;font-family: cursive}
pre{text-indent: 0;}
a{color: white;text-decoration: none;}
ul{list-style: none}
#header{
    background-color: #3f6978;
    width: 100%;
    height: 80px;
}
#header-top{
    width: 980px;
    margin: 0 auto;
    padding-top: 35px;
}
#header-top span{
    font-family: cursive;
    color: white;
    font-size: 30px;
}
#link{
    font-family: "宋体";
    color: white;
    float: right;
    padding-top:19px;
}
#link ul li{
    float: left;
    list-style: none;
    margin-left: 28px;
}
#githubicon{
    float: right;
    margin-top: 46px;
    padding-right: 10px;
}
/*主体的内容*/
#container{
    width: 980px;
    margin: 10px auto auto auto;
    /*background-color: aquamarine;*/
    margin-top: 10px;
    height: 1200px;
}
#articlelist{/*左侧*/
    width: 70%;
    /*background-color: antiquewhite;*/
    height: 80%;
    float: left;
}
#menu{/*右侧*/
    width: 30%;
    /*background-color: burlywood;*/
    height: 100%;
    float: left;
}
.article{
    background-color: white;
    width: 98%;
    margin: 10px auto;
    height: 300px;
    position: relative;
}

.time{
    text-align: right;
    width: 650px;
    /*margin-top: 20%;*/
    color: #c1c1c1;
    font-size: 14px;
    /*vertical-align: ;*/
    position: absolute;
    bottom: 20px;
}
.lableleft{
    width: 50px;
    float: left;
    margin-left: -50px;
    margin-top: 20px;
}
.up,.down{
    background-color: #399685;
    color: white;
    width: 100%;
    height: 50%;
    float: left;
    text-align: center;
    line-height: 35px;
}
.down{
    background-color: #4bb46a;
}
/*右侧的内容*/
#search,#selector,#data,#tags{
    width: 100%;
    background-color:white;
    margin-top: 10px;
}
#search{
    height: 100px;
}
#selector{
    height: 200px;
}
#data{
    height: 250px;
}
#tags{
    height: 200px;
    position: relative;
}
.searchin{
    font-size: 20px;
    width: 190px;
    height: 45px;
    margin-top: 25px;
    margin-left: 20px;
    border-style: solid;
}
.searchbuttom{
    width: 50px;
    height: 51px;
    background-color: #416974;
    border-style:none;
    margin-left: -4px;
    vertical-align: bottom;
    color: #eaeaea;
    font-size: 25px;
}

.searchbuttom:active,.searchbuttom:hover{
    background-color: #399685;
}

#selector ul li{
    list-style: none;
}
#selector ul li a{
    color: gray;
    width: 100%;
    line-height: 313%;
    border-left: 5px solid #b6c9ff;
    display: inline-block;/*行内块元素*/
    padding-left: 10px;
    border-bottom-color: #c1c1c1;
}
#selector ul li a:active,#selector ul li a:hover{
    border-left: 5px solid #626db1;
}
#tagsTitle{
    color: #461774;
    width: 85%;
    margin: 10px auto;
    padding-top: 15px;
}
.line1 strong{
    position: absolute;
    left: 20px;
    width: 80%;
}
.line1 strong span:active,.line1 strong span:hover{
    padding: 8px;

}
.line1 strong span{
    padding: 4px;
}
/*页脚分页信息*/
.pagingfoot{
    /*background-color: #399685;*/
    height: 50px;
    width: 90%;
    margin: 0 auto;
}
.pagingfoot ul li{
    font-size: 15px;
    list-style: none;
    float: left;
    padding: 15px;
    margin-left: 10px;
    background-color: white;
    color: #666666;
    line-height: 8px;
}
.pagingfoot ul li:active,.pagingfoot ul li:hover{
    color: white;
    background-color: #5d1e9e;
}
.buttom{
    font-size: 15px;
    width: 100%;
    height: 310px;
    background-color: #232323;
    vertical-align:bottom;
    position: relative;
}
.buttomtitle{
    height: 35px;
    width: 100%;
    margin: 0 auto;
    border-bottom: solid gray 1px;
    vertical-align: middle;
    text-align: center;
}
.buttomtitle span{
    line-height: 35px;
    margin:20px;
    color: white;
}
.friendlylink{
    /*background-color: transparent;*/
    width: 80%;
    margin: 0 auto;
    height: 200px;
}
.friendlylink ul{
    color: white;
    list-style: none;
    float: left;
    padding-left:160px;
    padding-top: 40px;
}
.rightinfo{
    height: 30px;
    color:white;
    text-align: center;
    /*background: url("/asleepcat/img/icon-github.png") no-repeat;*/
}
.buttom img{
    /*margin: 0 auto;*/
    position: absolute;
    bottom: 0;
    left: 49%;
}
/*关于about的css*
********************************************************************************************/
#aboutcontainer{
    background-color: white;
    height: 1000px;
    width: 980px;
    margin: 0 auto;
    position: relative;
    top: 110px;
}
#aboutcenter{
    background-color: #eaeaea;
    margin: 0 auto;
    height: 1000px;
    width: 8px;
    position: relative;
}
#aboutcenter #h{
    width: 150px;
    /*border-color: #66d2d9;*/
    /*border-width: 40px;*/
    border: solid #eaeaea 8px;
    border-radius: 160px;
    position:absolute;
    left:-80px;
    top: -65px;
}
#aboutname{
    color: #5b5656;
    position: absolute;
    top: 120px;
    left: -160px;
    font-size: 25px;
}
#aboutintr{
    width: 280px;
    color: #5b5656;
    position: absolute;
    top: 120px;
    left: 50px;
    font-size: 15px;
    text-indent: 2em;
}
#aboutcenter #call{
    width: 80px;
    border: solid #eaeaea 8px;
    border-radius: 160px;
    position:absolute;
    left:-46px;
    top: 240px;
}
#aboutcenter #contactname{
    color: #5b5656;
    position: absolute;
    top: 360px;
    left: -160px;
    font-size: 20px;
}
#aboutcenter #contact{
    width: 400px;
    color: #5b5656;
    position: absolute;
    top: 360px;
    left: 35px;
    font-size: 15px;
    text-indent: 2em;
}
#schoolpng{
    width: 80px;
    border: solid #eaeaea 8px;
    border-radius: 160px;
    position:absolute;
    left:-46px;
    top: 450px;
}
#eductionname{
    color: #5b5656;
    position: absolute;
    top: 600px;
    left: -160px;
    font-size: 20px;
}
#eductiontime1{
    padding: 4px 10px;
    background: white;
    color: #5b5656;
    position: absolute;
    top: 600px;
    left: -32px;
    font-size: 20px;
    border: #eaeaea 5px solid;
    border-radius: 15px;
}
#eductiontime2{
    padding: 4px 10px;
    background: white;
    color: #5b5656;
    position: absolute;
    top: 700px;
    left: -32px;
    font-size: 20px;
    border: #eaeaea 5px solid;
    border-radius: 15px;
}
#eductionintr{
    width: 400px;
    color: #5b5656;
    position: absolute;
    top: 600px;
    left: 35px;
    font-size: 15px;
    text-indent: 2em;
}
#graduate{
    width: 400px;
    color: #5b5656;
    position: absolute;
    top: 700px;
    left: 35px;
    font-size: 15px;
    text-indent: 2em;
}