
#box1{position: relative;}
#box1 img{width: 100%}
#box2{background:linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);height: 137px;width: 400px;position: absolute;top: 452px;left: 800px;}
#piccontainer{height: 550px;width: 1050px;margin: 10px auto;}
.display{
    width: 340px;
    height: 400px;
    background-color:white;
    float:left;margin: 10px 5px;
}
.display:hover{
    background-color: #c1f8ff;
}

.display img{width: 320px;height: 200px;padding: 10px;}
.display p{padding: 15px 30px;font-size: 15px;text-indent: 2em;margin-top: -5px;}
#in{
    background-color: white;
    height: 400px;
    margin: 0px;
    /*padding: 10px;*/
    width: 100%;
    position: relative
}
#in img{
    position: absolute;
    width: 100px;
    /*padding: 0 600px;*/
    margin-top: -50px;
    left: 47%;

}
.Self-introduction{
    background-color: #97d8f4;
    width: 50%;
    margin: 0 auto;
    position: relative;
    top: 80px;
}
.Self-introduction h1{
    /*padding: 10px 0 ;*/
    font-size: 25px ;
    text-align: center;
    text-indent: 0px;
    color: #808080;
}

.Self-introduction p{
    font-size: 14px;

}
/*#in p{text-align: left;padding: 0 400px;text-indent: 2em;}*/





