*{
	margin:0 0 ;
}
body {
	background:#dddddd;
}
.header{
	height: 80px;
	width:100%;
	background:#522A5C;
	color:#fff;
}
.logo{
	font-size:22px;
	float:left;
	margin-left: 110px;
	margin-top: 48px;
}
.icon{
	float:right;
	margin-top:46px;
	margin-right:10px;
}
.nav{
	float:right;
	margin-right:70px;
	margin-top:53px;
}
.nav span{
	margin-left:10px;
	font-size:15px;
}
.banner{
	width:100%;
	position:relative;
}
.banner img{
	width:100%;
	margin-top:-4px;
}
.banner div.content{
	width:360px;
	height:110px;
	position:absolute;
	bottom:0px;
	right:110px;
	background:#ffffff;
	opacity:0.2;
	color:#FFFFFF;
}
.banner div.content_c{
	width:360px;
	height:110px;
	position:absolute;
	bottom:0px;
	right:110px;
}
.banner .title{
	font-size:18px;
	float:right;
	margin-top:10px;
	margin-right:10px;
	opacity:1;
	color:#fff;
}
.banner .con{
	font-size:12px;
	margin:35px auto;
	opacity:1;
	color:#fff;
	width:320px;
}
.sum_article{
	width:990px;
	margin:20px auto;
	display:-webkit-flex;
	display:flex;
}
.sum_article .article{
	width:320px;
	background:#ffffff;
	margin-left:10px;
	float:left;
	-webkit-flex:1;
	flex:1;
}
.article .img{
	display:block;
	margin:0 auto;
}
.sum_article .article .con{
	width:280px;
	margin:10px auto;
	color:#000000;
	font-size:12px;
	flex:1;
}
.intro{
	width:100%;
	height:525px;
	margin-top:160px;
	background:#ffffff;
	float:left;
}
.head_pic{
	display:block;
	margin:-60px auto;
}
.intro .title{
	font-size:22px;
	margin:100px auto;
	text-align:center;
}
.intro .con{
	width:600px;
	margin:0 auto;
}
.footer{
	width:100%;
	height:400px;
	background:#000000;
	float:left;
	font-size: 15px;
	position:relative;
}
.footer .top{
	border-bottom: 1px solid #fff;
	height:30px;
	text-align:center;
}
.top .nav1{
	margin-top:20px;
}
.top .nav1 span{
	margin-left:20px;
	color:#FFFFFF;
}
.footer .footer_bottom{
	width:1080px;
	margin:0 auto;
	
}
.footer .footer_bottom ul{
	color:#fff;
	float:left;
	list-style-type: none;
	margin-top:30px;
	margin-left:100px;
}
.footer .footer_bottom ul li{
	margin-top:10px;
}
.banquan{
	position:absolute;
	bottom:0px;
	left:50%;
	margin-left:-15px;
	color:#FFFFFF;
	text-align:center;
}
.banquan img{
	margin-top:15px;
}
/* index    end*/
.t2_main{
	width:960px;
	margin:20px auto;
}
.t2_blog{
	width:650px;
	height:300px;
	background:#fff;
	float:left;
	margin-top:10px;
	position:relative;
}
.t2_sign1{
	width:80px;
	height:50px;
	position:absolute;
	left:-80px;
	text-align:center;
	background:#522a5c;
	top:30px;
	color:#FFFFFF;
	line-height: 50px;
}
.t2_sign2{
	width:80px;
	height:50px;
	position:absolute;
	left:-80px;
	text-align:center;
	background:#a660b7;
	top:80px;
	color:#FFFFFF;
	line-height: 50px;
}
.t2_blog_title{
	color:#a660b7;
	font-size:16px;
	font-weight:bold;
	margin-top:10px;
	margin-left:20px;
}
.t2_blog_title_fu{
	color:#666666;
	font-size:12px;
	font-weight:bold;
	margin-top:5px;
	margin-left:20px;
}
.t2_blog_con{
	width:600px;
	margin-top:5px;
	margin-left:20px;
	font-size: 15px;
}
.t2_blog_date{
	font-size: 12px;
	color:#666666;
	position:absolute;
	right:10px;
	bottom:10px;
}
.t2_right_con{
	width:300px;
	float:right;
	margin-top: 10px;
}
.t2_con_sou{
	width:300px;
	height:70px;
	background:#fff;
	
}
.t2_sousuo{
	width:270px;
	height:50px;
	border:1px #dddddd solid;
	color:#dddddd;
	font-size:25px;
	float:right;
	margin-top:8px;
	margin-right:10px;
}
.t2_con_biaoqian{
	width:300px;
	height:200px;
	background:#000000;
	margin-top:10px;
}
.t2_biaoqian{
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	background:#ffffff;
	height:50px;
	line-height: 50px;
	font-size:18px;
	color: #666;
	border-left:#dfc6e6 5px solid;
	padding-left: 10px;
}
.t2_biaoqian_s{
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	background:#ffffff;
	height:50px;
	line-height: 50px;
	font-size:18px;
	color: #666;
	border-left:#522a5c 5px solid;
	padding-left: 10px;
}
.t2_cal{
	background:#ffffff;
	width:300px;
	height:300px;
	margin-top:20px;
}
.t2_cal_title_l{
	width:50px;
	text-align:center;
	margin-top:10px;
	float: left;
	color:#522A5C;
	font-weight:bolder;
}
.t2_cal_title_m{
	width:200px;
	text-align:center;
	margin-top:10px;
	float: left;
	color:#522A5C;
	font-weight:bolder;
}
.t2_cal_title_r{
	width:50px;
	text-align:center;
	margin-top:10px;
	float: right;
	color:#522A5C;
	font-weight:bolder;
}
.t2_cal span{
	color:#666;
	display:block;
	width:42px;
	height:42px;
	float:left;
	text-align:center;
	line-height: 42px;
}
.t2_blog_pages{
	width:600px;
	height:40px;
	float:left;
	margin-left:20px;
	margin-top:20px;
}
.t2_blog_pages span{
	margin-left:8px;
	display:block;
	padding:5px 10px 5px 10px;
	float:left;
	text-align:center;
	background:#FFFFFF;
}
/*blog end*/
.t3_title{
	margin-top:20px;
	float:left;
}
.t3_title2{
	width:180px;
	height:40px;
	line-height: 40px;
	background:#FFFFFF;
	text-align:center;
	border-top:#dfc6e6 solid 5px;
	float:left;
	margin-left:1px;
}
.t3_title1{
	width:60px;
	height:40px;
	line-height: 40px;
	background:#FFFFFF;
	text-align:center;
	border-top:#522a5c solid 5px;
	float:left;
}
.t3_title3{
	width:120px;
	height:40px;
	line-height: 40px;
	background:#FFFFFF;
	text-align:center;
	border-top:#d2a6ff solid 5px;
	float:left;
	margin-left:1px;
}
.t3_title4{
	width:100px;
	height:40px;
	line-height: 40px;
	background:#FFFFFF;
	text-align:center;
	border-top:#ffa98c solid 5px;
	float:left;
	margin-left:1px;
}
.t3_title5{
	width:100px;
	height:40px;
	line-height: 40px;
	background:#FFFFFF;
	text-align:center;
	border-top:#522a5c solid 5px;
	float:left;
	margin-left:1px;
}
.t3_gallery{
	width:650px;
	height:700px;
	background:#FFFFFF;
	margin-top:1px;
	float:left;
	
}
.t3_ul1{
	width:322px;
	float:left;
	list-style-type: none;
	margin-left:-39px;
}
.t3_ul1 li{
	width:322px;
	float:left;
}
.t3_ul1 li img{
	width:100%;
}
.t3_ul1 li .div1{
	width:100%;
	background:#522a5c;
	margin-top:-14px;
	padding-top:10px;
	float:left;
}
.t3_biaohao{
	width:40px;
	height:40px;
	border-radius:20px;
	border:1px solid #fff;
	margin-left:20px;
	margin-top:10px;
	color:#fff;
	line-height: 40px;
	font-size:30px;
	text-align:center;
	float:left;
}
.t3_biaoti{
	color:#fff;
	margin-top:25px;
	margin-left:40px;
}
.t3_con{
	color:#fff;
	margin-top:10px;
	font-size:14px;
	float:left;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
}
.t3_ul2{
	width:160px;
	float:left;
	list-style-type: none;
	margin-left:-39px;
}
.t3_ul2 li{
	width:160px;
	float:left;
}
.t3_ul2 li img{
	width:100%;
}
.t3_ul2 li .div2{
	width:100%;
	background:#d9a300;
	margin-top:-14px;
	padding-top:10px;
	float:left;
}
.t3_ul2 li .div3{
	width:100%;
	background:#522a5c;
	margin-top:-14px;
	padding-top:10px;
	float:left;
}
.t3_ul2 li .div4{
	width:100%;
	background:#590062;
	margin-top:-14px;
	padding-top:10px;
	float:left;
}
.t3_ul2 li .div5{
	width:100%;
	background:#8c2300;
	margin-top:-14px;
	padding-top:10px;
	float:left;
}
.t3_rank{
	width:300px;
	float:right;
	height:300px;
	background:#ffffff;
	margin-top:10px;
}
.t3_rank_title{
	margin-top: 20px;
	margin-left:20px;
	float:left;
	width:280px;
}
.t3_rank_list_num{
	width:20px;
	height:20px;
	background:#522a5c;
	border-radius: 10px;
	text-align:center;
	line-height: 20px;
	color:#fff;
	float:left;
	margin-top: 20px;
	margin-left:20px;
}
.t3_rank_list_con1{
	height:20px;
	border:1px solid #522a5c;
	border-left:150px solid #522a5c;
	text-align:center;
	line-height: 20px;
	color:#fff;
	float:left;
	margin-top: 20px;
	margin-left:10px;
}
.t3_rank_list_con2{
	width:30px;
	height:20px;
	border:1px solid #522a5c;
	border-left:120px solid #522a5c;
	text-align:center;
	line-height: 20px;
	color:#fff;
	float:left;
	margin-top: 20px;
	margin-left:10px;
}
.t3_rank_list_con3{
	width:50px;
	height:20px;
	border:1px solid #522a5c;
	border-left:100px solid #522a5c;
	text-align:center;
	line-height: 20px;
	color:#fff;
	float:left;
	margin-top: 20px;
	margin-left:10px;
}
.t3_rank_list_con4{
	width:70px;
	height:20px;
	border:1px solid #522a5c;
	border-left:80px solid #522a5c;
	text-align:center;
	line-height: 20px;
	color:#fff;
	float:left;
	margin-top: 20px;
	margin-left:10px;
}
.t3_rank_list_con5{
	width:100px;
	height:20px;
	border:1px solid #522a5c;
	border-left:50px solid #522a5c;
	text-align:center;
	line-height: 20px;
	color:#fff;
	float:left;
	margin-top: 20px;
	margin-left:10px;
}
.t3_rank_list_text{
	float:left;
	margin-left:10px;
	font-size:20px;
	padding-top:20px;
}
/*gallery end*/
.t4_intro{
	width:960px;;
	height:1075px;
	margin:160px auto;
	background:#ffffff;
	
}
.t4_head_pic{
	display:block;
	position:relative;
	top:-60px;
	left:50%;
	margin-left:-80px;
}
.t4_head_pic1{
	display:block;
	position:relative;
	top:-60px;
	left:50%;
	margin-left:-55px;
}
.t4_mode1{
	border-left:#ddd 5px solid;
	width:300px;
	height:150px;
	position:relative;
	top:-60px;
	left:50%;

}
.t4_mode1 .content{
	padding: 20px 20px 20px 50px;
}
.t4_mode1 .title{
	position :absolute;
	left:-150px;
	top:30px;
	font-size:22px;
}
.t4_mode1 .content .exam{
	margin-top:20px;
}
.t4_mode1 .t4_year1{
	height:20px;
	width:80px;
	border:#ddd 5px solid;
    border-radius:10px;
    position:absolute;
    left:-44px; 
    text-align:center;
    line-height:20px;
    top:30px;
    background:#fff;
}
.t4_mode1 .t4_year2{
	height:20px;
	width:80px;
	border:#ddd 5px solid;
    border-radius:10px;
    position:absolute;
    left:-44px; 
    text-align:center;
    line-height:20px;
    top:70px;
    background:#fff;
}