/*
 * header.less
 */

 .web-hd {
   height: 60px;
   background-color: #ddd;
   font-size: 20px;
   line-height: 60px;
   padding: 0 10px;
   border-bottom: 1px solid #ccc;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   color: #666;
   z-index: 999;
 }

 .web-bd {
   height: 100%;
   padding-left: 460px;
   padding-top: 61px;
   .box-sizing(border-box);
   line-height: 1.5;
   position: relative;
 }

 .web-bd .inner {
    position: relative;
    height: 100%;
 }