/*
 * taskList.less
 */

 .task-list {
   background-color: #fff;
 }

 .task-list .hd {
   height: 40px;
   line-height: 40px;
   border-bottom: 1px solid #ccc;
   background-color: #eee;
   position: relative;
   z-index: 2;
 }

 .task-list .bd {
   padding-top: 41px;
 }

 .task-status-nav {
   padding-left: 10px;
 }

 .task-status-nav a {
   padding: 3px 8px;
 }

 .task-status-nav .z-active a {
   background-color: #fff;
   border: 1px solid #ddd;
 }

 .time-node {
   background-color: #fff;
   line-height: 30px;
 }

 .time-node .item {
   display: block;
   padding-left: 30px;
   cursor: default;
   padding-top: 5px;
   padding-bottom: 5px;
   line-height: 1.42;
 }

 .time-node .item.z-active {
   background-color: #eee;
 }

 .time-node .title {
   background-color: #fafaee;
   padding-left: 15px;
 }

 .time-node .done {
   color: green;
 }

 .no-task-tip {
   margin-top: 100px;
   text-align: center;
   color: #999;
 }
 