#container1 {
    width: 200px;
    height: 500px;
    border: 1px solid #000000;
}

.box {
    width: 198px;
    height: 48px;
    margin-top: -1px;
    border: 1px solid #000000;
    background-color: red;
}