/* 首页内容开始*/

/*首页banner*/
.banner{
}
.banner > img{
    display: block;
    width: 100%;
}
.banner-desc-wrap{
    position: relative;
}
.banner-desc {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 250px;
    min-height: 120px;
    background-color: #ffffff;
    filter:alpha(Opacity=70, finishOpacity=50, Style=1, startX=180, startY=0, finishX=180, finishY=30);
    filter:alpha(Opacity=50, finishOpacity=0, Style=1, startX=180, startY=30, finishX=180, finishY=120);
    background:-webkit-gradient(linear,left 100%,left 25%, from(rgba(255,255,255,0.7)), to(rgba(255,255,255,0.5)));
    background:-webkit-gradient(linear,left 25%,left bottom, from(rgba(255,255,255,0.5)), to(rgba(255,255,255,0)));
}
.banner-desc p{
    color: #fff;
    word-break: break-all;
    padding: 10px 10px 30px 10px;
    font-size: 12px;
    line-height: 1.5;
}
.list-container{
    margin: 10px -10px 110px -10px;
}
.list-wrap{
    padding: 0;
    display: table;
    border-spacing: 10px 0px;
}
div.list-wrap :first-child{
    margin-left: 0;
}
.list-item{
    width: 320px;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 10px;
    box-sizing: border-box;
    display: table-cell;
}
.list-item img{
    width: 300px;
    height: 180px;
}
div.content{
    width:300px;
    padding: 15px 20px 25px 20px;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 170%;
}
/*文章列表结束*/
/*个人介绍开始*/

.article-wrap{
    background-color: #fff;
    min-height: 530px;
}
.avatar-article{
    width: 600px;
    margin: 0 auto;
 }
#avatar{
    width: 160px;
    height: 160px;
    margin: 0 auto;
    position: relative;
    display: block;
    top: -50px;
    border-radius: 50%;
}
.avatar-article>h2{
    font-size: 20px;
    font-family: Century Gothic;
    text-align: center;
}
.avatar-article>p{
    margin-top: 50px;
    font-size: 14px;
    line-height: 1.7;
    width:600px;
    word-break: break-all;
}

/*个人介绍结束*/

