*{padding: 0;margin: 0;}
ul{list-style: none;}
body{background-color: #eee;}
a{text-decoration: none;}
@media screen and (max-width: 980px){
	#githublogo{display: none;}
	.header{width: 980px;}
	.banner{width: 980px;}
	.footer{width: 980px;}
	.wrapper{width: 980px;}
}
/*注意媒体查询！！！*/
.wrapper{
    width: 980px;
    margin: 0 auto;
}
.header{
	background-color: #522a5c;
	position: relative;
}
.header .wrapper{
	position: relative;
	height: 80px;
}
.header a{text-decoration: none;color: #fff;}
.h-nav ul{
	position: absolute;
	right: 0;
	bottom: 5px;
}
.h-nav li{
	display: inline-block;
	margin-left: 28px;
	font-size: 14px;
	font-family: "宋体";
}
.header .mylogo img{
	width: 80px;
	height: 80px;
	position: absolute;
	left: 0;
	bottom: 0;
}
.header .githublogo img{
	position: absolute;
	right: 10px;
	bottom: 0;
}
/*header部分结束*/

/*footer部分开始*/
hr{
	color:#333;
	background-color:#333;
	height:1px;
	border:none;
}
/*hr在chrome里面默认有border，没有margin*/
.footer{
	background-color: #000;
	position: relative;   
}
.footer a{color: #fff;clear: both;}
.f-nav ul{text-align: center;}
.f-info{overflow: hidden;}
.f-nav li{
	display: inline-block;
	font-size: 15px;
	margin: 10px 15px 10px 15px;
}
.f-info ul{
	color: #fff;
	float: left;
	margin: 40px  130px 150px 0;
}
.f-info ul .title{margin-bottom: 30px;}
.f-info li{margin-bottom: 5px;}
.f-info .underline{text-decoration: underline;}
.footer .wrapper .copyright{
	text-align: center;
	color: #fff;
	position: absolute;
	bottom: 50px;
	left: 49%;
}
.footer .wrapper .githublogo{
	position: absolute;
	bottom: 0;
	left: 50%;
}
/*footer部分结束*/

/*index文件开始*/
.index-banner{
	background: url(../img/banner-bg.jpg) center;
	background-size: cover;
	height: 525px;
}/*响应式窗口的背景图片问题*/
.index-banner .wrapper{position: relative;height: 530px;}
.index-box{
	color: #fff;
	padding: 10px 10px 30px 10px;
	width: 360px;
	position: absolute;
	bottom: 0;
	right: 0;
	background:-webkit-linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.5)25%,rgba(255,255,255,0));
}
/*透明度的设置，兼容没有注意=.=！*/
.index-box h1{
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 12px;
	text-align: right;
}
.index-box p{
	font-size: 12px;
	line-height: 150%;
	text-indent: 2em;
}

/*三列等高布局*/
.index-column .wrapper{
	position: relative;
	margin-top: 10px;
	height: 400px;
	overflow: hidden;
}
.index-column-a,
.index-column-b,
.index-column-c{
	margin-bottom: -1000px; 
	padding-bottom: 1000px;
	display: inline-block;
	background-color: #fff;
	width: 320px;
	position: absolute;
	top: 0;
}
.index-column-a{left:0;}
.index-column-b{left:330px;}
.index-column-c{right: 0;}
.index-column img{margin: 10px 10px 15px 10px;}
.index-column p{
	margin: 0 30px 25px 30px;
	line-height: 170%;
	font-size: 12px;
	text-indent: 2em;
}


.index-main{
	background-color: #fff;
	height: 500px;
	position: relative;
/*	padding-top: 300px;*/
	margin-top: 300px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.index-main .user{
  	width: 160px;
  	margin:0 auto;
}
.index-main .user img{
	position: relative;
	top: -50px;
}
.introduction{
	color: #000;
	width: 600px;
	text-indent: 2em;
	margin: 0 auto;
}
.index-main h1{
	text-align: center;
	font-size: 20px;
	font-family: Century Gothic;
	margin-bottom: 40px;
	font-weight: normal;
}
.index-main p{
	font-size: 14px;
	line-height: 170%;
	width: 600px;
}
/*index部分结束*/

/*blog页面开始*/
.blog-wrapper{
	overflow: hidden;
}
.float-left{
	float: left;
	width: 72%;
	margin-top: 20px;
	height: 800px;/*问题！！！*/
}
/*	overflow: hidden;*/
/*是根据代码的代码的父级元素来说的，不是视觉！*/
.blog-box{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	width: 100%;
	background-color: #fff;
	padding: 20px;
	position: relative;
	margin-bottom: 10px;
}
.blog-box h1{
	font-size: 16px;
	font-weight: normal;
	color: #a660b7;
	margin-bottom: 10px;
}
.blog-box h2{
	font-size: 12px;
	color: #666;
	font-weight: normal;
	margin-bottom: 10px;
}
.blog-box .text{overflow: visible;}
.blog-box .text p{
	font-size: 12px;
	text-indent: 2em;
	line-height: 1.5;
	margin-bottom: 30px;
}
.blog-box .author{
	position: absolute;
	bottom: 15px;
	right: 20px;
	text-align: right;
	font-size: 12px;
	color: #999;
}
.blog-box .text-tag{
	position: absolute;
	top: 20px;
	left: -50px;
}
.blog-box .text-tag span{
	display: block;
	width: 50px;
	height: 40px;
	color: #fff;
	text-align: center;
	line-height: 40px;
}
.blog-box .a{background-color: #522a5c;}
.blog-box .b{background-color: #a660b7;}
.float-left .page{
	position: relative;
	margin: 0 auto;
}
.float-left li{
	float: left;
	background-color: #fff;
	height: 35px;
	margin-right: 5px;
	margin-left: 5px;
}
.float-left a{
	display: block;
	padding: 15px; 
	color: #000;
	line-height: 50%;/*行高问题*/
	font-size: 14px;
}
.float-left a:hover{
	background-color: #a660b7;
	color: #fff;
}
.float-right{
    width: 27%;
	height: 800px;
	float: right;
	margin-top: 20px;
}
.search{
	height: 80px;
	padding: 20px;
	background-color: #fff;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	margin-bottom: 10px;
}
.search img{
    height: 38px;
}
.search input{
    width: 125px;
    height: 35px; 
    float: left;
    border: 1px solid #eee;
    font-size: 16px;
    background: url(../img/search.png) no-repeat;
    background-position: -5px -5px;/*很不正常的写法*/
    background-size: 100%;
    padding-left: 40px;
    outline: medium;
}
.blog-rightsidebar{
	width: 100%;
	height: 200px;
	background-color: #fff;
	margin-bottom: 10px;
	overflow: hidden;
}
.blog-rightsidebar li{
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.blog-rightsidebar a{
	display: block;
	width: 100%;
	height: 50px;
	border-left: 5px solid #dfc6e6;
	line-height: 50px;
	padding-left: 20px;
	color: #000;
	font-weight: bold;
}
.blog-rightsidebar a:hover{
	border-left: 5px solid #522a5c;
	color:#522a5c;
}

.blog-time{
	width: 100%;
	height: 240px;
	background-color: #fff;
	margin-bottom: 10px;
}

.blog-tags{
	width: 100%;
	height: 200px;
	background-color: #fff;
}
.blog-time dl{text-align: center;}
.blog-time .year{
	border-bottom: 1px solid #eee;
	overflow:hidden;
	padding: 10px;
}
.blog-time .year dd{
    float: left;
    font-weight: bold;
    width: 33%;
}
.blog-time .week {
	overflow: hidden;
	display: block;
	border-bottom: 1px solid #eee;
	margin-left: 25px;
}
.blog-time .week dd{
	float: left;
	padding: 10px;	
}
.blog-tags p{
	display: inline-block;
    font-size: 15px;
    margin: 5px;
}
.blog-tags #top-right{
	font-size: 15px;
	color: #666;
}
.blog-tags .big{
	font-size: 25px;
	font-weight: bold;
}
.blog-tags a{
	color: #773c88;
}
.blog-tags a:hover{
	color: #000;
}


/*gallrty部分开始*/
.gallery-main{margin-bottom: 200px; }
.gallery-main .tagmenu ul{
	margin-top: 20px;
}
.gallery-main .tagmenu li{
	float: left;
	border-right:1px solid #eee;
	background-color: #fff;
}
.gallery-main .tagmenu a{
	color: #000;
	font-family: "微软雅黑";
	font-size: 14px;
	border-top: 5px solid #dfc6e6;
	display: block;
}
.gallery-main .tagmenu span{
	margin-left:18px;
	margin-right: 18px;
	padding-top: 10px;
	padding-bottom: 15px;
	display: block;
}
.gallery-main .tagmenu a:hover{
	border-top: 5px solid;
	display: block;
	width: 100%;
	height: 100%;
}
.gallery-main .tagmenu .aa:hover{
	border-top-color:red;
}
.gallery-main .tagmenu .bb:hover{
	border-top-color:blue;
}
.gallery-main .tagmenu .cc:hover{
	border-top-color:yellow;
}
.gallery-main .tagmenu .dd:hover{
	border-top-color:purple;
}
.gallery-main .tagmenu .ee:hover{
	border-top-color:green;
}


.gallery-content{
	overflow: hidden;
	width: 980px;
	vertical-align: top;
}
.gallery-content .load{
	width: 745px;
	height: 50px;
	background-color: #fff;
	float: left;
	margin-top: 20px;
	text-align: center;
	line-height: 50px;
}
.gallery-content .load a{
	color: #666;
}
.gallery-left{
	background-color: #fff;
	width: 74%;
	height: 620px;
	padding: 10px;
	float: left;
	   -moz-columns: 4;
	-webkit-columns: 4;
	        columns: 4;
}
.gallery-right{
	float: right;
	width: 230px;
	height: 620px;
}
.gallery-main-content .gallery-float{
	display: inline-block;
	color: #fff;
	vertical-align:top;
	margin: 5px;
}
.gallery-main-content .gallery-float div{
	background-color: #7F3080;
	width: 160px;
	margin-top: -5px;
}
.gallery-main-content .gallery-float img{
	display: inline-block;
}
.gallery-main-content .gallery-float span{
	display: inline-block;
	padding: 5px;
	border-radius: 50%;
	border:2px solid #eee;
	text-align: center;
	font-size: 18px;
	width: 20px;
	height: 20px;
	margin: 5px;
}
.gallery-main-content .gallery-float h1{
	font-size: 18px;
	display:inline-block;
	margin:5px; 
	font-weight: normal;
}
.gallery-main-content .gallery-float p{
	font-size: 12px;
	display: inline-block;
	margin: 5px;
}
.gallery-content .search{
	padding: 0px;
	padding-top: 15px;
	padding-left: 10px;
}
.raking{
	width: 90%;
	height: 240px;
	background-color: #fff;
	font-size: 20px;
	padding: 10px;
}
.raking p{
	color: #666;
	font-size: 14px;
	text-align: left;
	margin-bottom: 10px;
}
.raking .raking-cercle{
	text-align: center;
	line-height: 20px;
	display: inline-block;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background-color: #522a5c;
	color: #fff;
}

/*about页面开始*/
.about-main{
	margin-top: 100px;
	background-image: url(../img/about.png);
	background-position: top 0 left -25px;
    background-color: #fff;
    margin-bottom: 50px;

}
.about-main-left{
	display: inline-block;
	text-align: right;
	font-size: 20px;
	width: 485px;
	padding-right: 100px;
	margin-top: -200px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.about-main-right{
	width: 485px;
	font-size: 14px;
	display: inline-block;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	padding-left: 30px;
	line-height: 200%;
	text-align: left;
}
.about-main-right span{
	display: inline-block;
	width: 320px;
}
.edu-mes{margin-bottom: 60px;}
.about-main-right .year{
	float: left;
	width: 60px;
	height: 25px;
	background-color: #fff;
	border: 10px solid #eee;
	border-radius: 30%;
	text-align: center;
	line-height: 25px;
	font-size: 20px;
	clear: left;
	margin-left: -100px;
}
.about-main img{
	position: absolute;
	left: 41%;
	top:-120px;
	border: 8px solid #eee;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
}
.about-main-name {
	padding-top: 130px;
	vertical-align:top;
}
.about-main-introduce{
	margin-top: 140px;
	vertical-align:top;
}
.about-main-edu{
	margin-top: 160px;
	vertical-align:top;
}
.about-main-job{
	margin-top: 150px;
	vertical-align:top;
	margin-bottom: 200px;
}
.about-main-name ,
.about-main-introduce ,
.about-main-edu ,
.about-main-job{
	position: relative;
}

/*谢谢大大们的review,有很多不合适甚至错误的地方，我会努力的！*/