* {
	margin: 0;
	padding: 0;
}
html, body {
	width: 100%;
	height: 100%;
	min-width: 780px;
	min-height: 480px;
}
ul {
	list-style: none;
}
.container {
	width: 100%;
	height: 100%;
}


.title {
	border: 1px solid #cecece;
	height: 10%;
	font-size: 25px;
	background: #ddd;
	color: #919191;
}
.titleContent {
	padding: 1%;
}
.pullLeft {
	float: left;
}
.pullRight {
	float: right;
}
.menu {
	min-width: 200px;
	width: 15%;
	height: 89.5%;
	min-height: 400px;
	border-right: 1px solid #cacaca;
}
.menuContent {
	height: 92%;
	border-bottom: 1px solid #cecece;
}
.menuTitle {
	padding: 20px 0 0 10px;
	font-size: 14px;
}
.supMenu {
	background: #f2f2f2;
}
#classContent img {
	display: inline-block;
	padding: 20px 5px 0 10px;
}
#classContent ul {
	display: inline-block;
	padding: 20px 30px;
	width: 80%;
	list-style-image: url("img/file.png");
	font-size: 14px;
}
#classContent li {
	padding-bottom: 10px;
}
.taskNum {
	display: inline-block;
	margin-left: 10%;
}
#menuDelete {
	margin-left: 0;
	display: inline-block;
}
.add {
	height: 8%;
	background: #f2f2f2;
}
.add li {
	margin: 5px 10px;
	display: inline-block;
}
.addContent {
	vertical-align: text-bottom;
	line-height: 15px;
}
.addIcon {
	line-height: 30px;
	font-size: 30px;
}

/* SUBTITLE BEGINS */
#subTitle {
	background: #f2f2f2;
	height: 8%;
	border-bottom: 1px solid #cecece;
}
.subMenuTitle {
	margin: 4% 6%;
	padding: 1%;
	display: inline-block;
	font-size: 14px;
}
.choosen {
	background: #fff;
}
.time {
	background: #fafaee;
}
#todotime {
	padding: 10px 18px;
	font-size: 14px;
}
.todotask {
	font-size: 14px;
}
.todotask li:hover {
	cursor: pointer;
	color: #39801a;
}
.todotask p {
	padding: 5px 30px;
}
.todochoosen {
	background: #f2f2f2;
}

/* TODO CONTENT BEGINS*/
.edit {
	width: 69.85%;
}
#todoTitle {
	height: 15%;
	width: 100%;
	background: #f2f2f2;
	font-size: 20px;
	border-bottom: 1px solid #cecece;
}
#todoText {
	display: inline-block;
	padding: 15px;
}
.todoIcon {
	cursor: pointer;
	margin: 10px;
}
#taskTime {
	height: 15%;
	border-bottom: 1px solid #cecece;
}
#taskTime p {
	padding: 20px;
}
#taskContent p {
	padding: 10px;
}

.clear {
	clear: both;
}