/*
* @file app.css
* @author ych
*/


/*
* reset
*/
/*==================================================*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  vertical-align: middle;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

script {
  display: none!important;
}

a {
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a[href]:hover {
  cursor: pointer;
}

a,
button,
:focus,
a:focus,
button:focus,
a:active,
a:hover {
  outline: 0;
}


/*属于重置里的排版部分*/
abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

small {
  font-size: 80%;
}

img {
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  font-family: inherit;
  color: inherit;
  outline: none;
  -webkit-font-smoothing: inherit;
  background-image: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  resize: none;
  vertical-align: top;
  overflow: auto;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
}


/*
* util
*/
/*==================================================*/
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

.clearfix:after {
  clear: both;
}

.z-hide {
  display: none;
}

.z-opacity-hide {
  opacity: 0;
}

.z-show {
  display: block;
}

.z-opacity-show {
  opacity: 1;
}

.z-invisible {
  visibility: hidden;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.tap-highlight-transparent {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.disable-user-behavior {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-drag: none;
}


/*
* scaffolding
*/
/*==================================================*/
html,
body {
  height: 100%;
}

body {
  color: #333;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

body:before {
  content: "";
  position: fixed;
}

a {
  color: inherit;
  *color: #3a89c9;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: inherit;
  font-weight: normal;
  color: inherit;
  font-size: 100%;
}

ul,
ol {
  list-style: none;
}

button,
input,
select,
textarea {
  border-color: #777;
}

/*配合这个网站的通用的模块*/
.inline {
  list-style: none;
  font-size: 14px;
}

.inline .inline-item {
  float: left;
}

.inline {
  *zoom: 1;
}

.inline:before,
.inline:after {
  display: table;
  content: "";
  line-height: 0;
}

.inline:after {
  clear: both;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
  vertical-align: middle;
  background-image: url(../img/icons.jpg);
  background-repeat: no-repeat;
}

.icon-add {
  font-size: 36px;
  font-weight: bold;
  height: 20px;
  width: 20px;
  text-align: center;
  margin-right: 10px;
  line-height: 10px;
  background-image: none;
}

.icon-done,
.icon-edit {
  height: 27px;
  width: 27px;
}

.icon-done {
  background-position: -5px -48px;
}

.icon-edit {
  background-position: -7px -6px;
}

.btn {
  display: inline-block;
}


/*
* 页面具体样式
*/
/*==================================================*/
.web-hd {
  height: 60px;
  background-color: #ddd;
  font-size: 20px;
  line-height: 60px;
  padding: 0 10px;
  border-bottom: 1px solid #ccc;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #666;
}

.web-bd {
  height: 100%;
  padding-left: 460px;
  padding-top: 61px;
  box-sizing:border-box;
  line-height: 1.5;
}

.category-list,
.task-list {
  height: 100%;
  float: left;
  width: 229px;
  border-right: 1px solid #ccc;
  margin-left: -230px;
  position: relative;
  overflow: hidden;
}

.category-list .ft,
.task-list .ft {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #eee;
  height: 40px;
  line-height: 40px;
  color: #333;
  padding: 0 15px;
  box-sizing: border-box;
  border-top: 1px solid #ccc;
}

.category-list .bd,
.task-list .bd {
  overflow-y: auto;
  padding-bottom: 40px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}


/*左侧*/
.category-list {
  background-color: #f2f2f2;
  margin-left: -460px;
}

.category-list .hd {
  font-size: 16px;
  padding: 18px 10px 0;
}

.category-list .bd {
  padding-top: 42px;
}

.category-list .bd .title {
  padding: 7px 10px;
  font-size: 16px;
}

.categorys .level {
  line-height: 1.8;
  overflow: hidden;
  white-space: nowrap;
}

.categorys .level-1 {
  font-size: 16px;
}

.categorys .level.z-active,
.categorys .level.z-open .level.z-active {
  background-color: #fff;
}

.categorys .category-name {
  position: relative;
  padding-left: 25px;
  margin-left: 15px;
  display: block;
}

.categorys .level-2 .category-name{
  margin-left: 30px;
}

.categorys .level-3 .category-name{
  margin-left: 45px;
}

.categorys .category-name:before {
  content: "";
  display: block;
  height: 22px;
  width: 22px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -11px;
  background: url(../img/icons.jpg) no-repeat;
  background-position: -55px -1px;
}

.categorys .sub-category {
  padding-bottom: 5px;
}

.categorys .sub-category .category-name:before {
  background-position: -51px -44px;
}

.add-category {
  line-height: 40px;
  display: block;
}


/*中间*/
.task-list .hd {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #ccc;
  background-color: #eee;
  position: relative;
  z-index: 2;
}

.task-list .bd {
  padding-top: 41px;
}

.task-status-nav {
  padding-left: 10px;
}

.task-status-nav a {
  padding: 3px 8px;
}

.task-status-nav .z-active a {
  background-color: #fff;
  border: 1px solid #ddd;
}

.time-node {
  background-color: #fff;
  line-height: 30px;
}

.time-node .item {
  display: block;
  padding-left: 30px;
}

.time-node .title {
  background-color: #fafaee;
  padding-left: 15px;
}

.time-node .done {
  color: green;
}


/*右侧*/
.task-info {
  height: 100%;
  position: relative;
}

.task-info .hd,
.task-info .task-time {
  height: 50px;
  line-height: 50px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
  padding: 0 120px 0 15px;
  font-size: 18px;
  position: relative;
  z-index: 2;
}

.task-info .task-time {
  background-color: #fafaee;
  font-size: 16px;
}

.task-info .operates :first-child {
  margin-right: 15px;
}

.task-info .bd {
  height: 100%;
  padding-top: 102px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

.task-info .content {
  height: 100%;
  overflow-y: auto;
  padding: 10px 15px;
  box-sizing: border-box;
}

.task-info input,
.task-info textarea {
  border: none;
  background-color: transparent;
}

.task-info #taskHeader,
.task-info #taskContent {
  height: 100%;
  width: 100%;
}

.task-info .operates {
  position: absolute;
  right: 15px;
  top: 0;
  font-size: 16px;
}
