* {
	padding: 0;
	margin: 0;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	font-size: 14px;
	color: #ffffff;
}
span {
	color: #ffffff;
}
#header {
	position: relative;
	width: 1080px;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
	background-color: #522a5c;
}
#header-content {
	position: relative;
	width: 980px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}
#logo {
	position: absolute;
	left: 0;
	bottom: 10px;
	font-size: 20px;
}
#header-content-list {
	position: absolute;
	right: 0;
	bottom: 5px;
	overflow: hidden;
}
#header-content-list li {
	float: left;
	overflow: hidden;
	margin-right: 28px;
}
#github {
	position: absolute;
	right: 10px;
	bottom: 0;
}
#content {
	width: 1080px;
	margin-left: auto;
	margin-right: auto;
	background-color: #eeeeee;
}
#big-image {
	position: relative;
	width: 100%;
	height: 474px;
	background: url("../img/banner-bg.jpg");
	background-size: contain;
}
#big-image-text {
	position: absolute;
	right: 50px;
	bottom: 0;
	width: 340px;
	height: 80px;
	padding: 10px 10px 30px 10px;
	background-color: rgba(255,255,255,0.3);
}
#big-image-text h1 {
	margin-bottom: 12px;
	text-align: right;
	color: #ffffff;
	font-size: 14px;
}
#big-image-text p {
	line-height: 150%;
	color: #ffffff;
	font-size: 12px;
	text-indent: 24px;
}
#content-main-content {
	overflow: hidden;
	width: 980px;
	margin-top: 10px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
}
#content-main-content .main-content {
	overflow: hidden;
	float: left;
	width: 320px;
	margin-right: 10px;
	padding-bottom: 200px;
	margin-bottom: -200px;
	background-color: #ffffff;
}
#content-main-content .main-content.last {
	margin-right: 0;
}
#content-main-content .main-content img {
	width: 300px;
	height: 180px;
	margin: 10px 10px 15px 10px;
}
#content-main-content .main-content p {
	line-height: 170%;
	padding: 0 30px 25px 30px;
	font-size: 12px;
}
#introduction {
	position: relative;
	width: 1080px;
	background-color: #ffffff;
}
#my-photo {
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left: -80px;
	margin-top: -50px;
	width: 160px;
	height: 160px;
	border-radius: 50%;
	background-color: red;
}
#my-photo img {
	width: 160px;
	height: 160px;
}
#introduction h1 {
	padding-top: 160px;
	margin-top: 160px;
	text-align: center;
	font: bold 20px Century, Gothic;
}
#introduction p {
	padding-bottom: 200px;
	width: 600px;
	margin: 30px auto;
	line-height: 140%;
	font-size: 14px;
	color: #000000;
}
#footer {
	position: relative;
	width: 1080px;
	margin-left: auto;
	margin-right: auto;
	background-color: #000000;
}
#footer #footer-firstpart {
	overflow: hidden;
	width: 100%;
	height: 35px;
	border-bottom: 1px solid #ffffff;
}
#footer #about-link {
	position: absolute;
	left: 43%;
	height: 34px;
	line-height: 34px;
	text-align: center;
}
#footer #about-link li {
	float: left;
	margin-right: 20px;
}
#about {
	overflow: hidden;
	width: 100%;
	padding: 40px 110px 110px 100px;
	color: #ffffff;
}
#about .about-about {
	float: left;
	width: 172px;
	margin-bottom: 30px;
}
#about .about-about h1 {
	padding-bottom: 36px;
	font-size: 16px;
}
#about .about-about li {
	padding: 4px;
	font-size: 14px;
}
#about-copyright {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -50px;
	width: 100px;
	color: #ffffff;
}
#about-copyright a {
	display: block;
	width: 30px;
	height: 34px;
	margin: 0 auto;
}
