/* 
*index style
*/

/*banner */
.banner { 
    width:100%;
    position:relative;
}
.banner img {
    display:block;
    width:100%;
}
.banner .text {
    position:absolute;
    bottom:8px;
    right:110px;
    text-align:right;
    width:360px;
    color:#fff;
    background:linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.3) 25%,rgba(255,255,255,0) 100%);
    padding:20px 10px;
} 
.banner h3 {
    line-height:30px;
}
.banner p {
    line-height:20px;
    font-size:12px;
}
/* banner end*/

/* content */
.content {
    width:100%;
    background:#eeeeee;
    padding-bottom:130px;
}
.content_wrap {
    overflow:hidden;
}
.content ul {
    overflow:hidden;
    width:980px;
    margin:auto;
    margin-bottom:-970px;
}
.content li {
    float:left;
    background:#fff;
    padding:10px;
    padding-bottom:1000px;
    margin:10px 0;
}
.content img {
    margin-bottom:20px;
}
#pic_mid {  
    margin:10px 10px 10px;
}
.content p {
    width:270px;
    margin:auto;
    font-size:12px;
}
/* content end */

/* aboutme */
.aboutme {
    background:#fff;
    text-align:center;
    padding-bottom:70px;
}
.aboutme img {
    width:160px;
    border-radius:50%;
    margin-top:-50px;
}
.aboutme h3 {
    font-weight:normal;
    font-size:22px;
    margin:30px;
}
.aboutme p {
    width:600px;
    margin:0 auto;
    line-height:30px;
}
/*about end */