/*reset*/
body,p,ul,li {
<<<<<<< HEAD
    padding: 0;
    margin: 0;
}

body {
    background: #ccc;
    color: #fff;
}

#info {
    width: 300px;
    margin: 50px auto;
    color: #000;
}

#box {
    width: 420px;
    margin: 0 auto;
    position: relative;
}
.wrap {
    position: relative;
    width: 150px;
    height: 300px;
    border: 1px solid #000;
}
.fl {
    float: left;
}

.fr {
    float: right;
}
.wrap li {
    width: 150px;
    height: 30px;
    border-bottom: 1px solid #000;
    text-align: center;
    line-height: 30px;
    list-style: none;
    background: red;
=======
	padding: 0;
	margin: 0;
}

body {
	background: #ccc;
	color: #fff;
}

#info {
	width: 300px;
	margin: 50px auto;
	color: #000;
}

#box {
	width: 420px;
	margin: 0 auto;
	position: relative;
}
.wrap {
	position: relative;
	width: 150px;
	height: 300px;
	border: 1px solid #000;
}
.fl {
	float: left;
}

.fr {
	float: right;
}
.wrap li {
	width: 150px;
	height: 30px;
	border-bottom: 1px solid #000;
	text-align: center;
	line-height: 30px;
	list-style: none;
	background: red;
>>>>>>> master
}