/*reset*/
input,ol,li {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;    
}

#info {
    width: 400px;
    margin-left: 20px;
}

#container {
    width: 300px;
    height: 300px;
    margin: 20px 50px;
}

#kw {
    width: 300px;
    height: 30px;
    outline: none;
    text-indent: 10px;
    line-height: 30px;
}

#dataList {
    width: 300px;
    border: 1px solid #ccc;
    margin-top: -1px;
    display: none;
}

#dataList li {
    width: 300px;
    height: 30px;
}

#dataList a {
    display: block;
    font-size: 12px;
    line-height: 30px;
    text-decoration: none;
    text-indent: 10px;
    color: #000;
}

#dataList a:hover {
    background: #ccc;
    cursor: pointer;
    color: #fff;
}

#dataList .active {
    background: #ccc;
    
}

#dataList .active a {
    color: #fff;
}