body {
  margin: 0;
  padding: 0;
}

hr {
  margin: 50px 0;
}

.flex {
  color: white;
  display: flex;
  flex-flow: row;
}

.row-wrapper {
  overflow:hidden;
}

.row {
  color: white;
  margin-bottom: -10000px;
  padding-bottom: 10000px;
}

.bottom {
  height: 50px;
  background: yellow;
  margin-bottom: 40px;
}

/*给你的网页加点样式*/
h1 {
  color: blue;
}

h2 {
  font-size: 14px;
}

.bio {
  font-size: 12px;
  color: yellow;
  background: black;
}

img {
  border: 2px solid red;
}

/*让页面样式丰富起来*/
.text-indent {
  text-indent: 20px;
}

.text-transform {
  text-transform: uppercase;
}

.text-decoration {
  text-decoration: underline;
}

.text-align {
  text-align: center;
}

.word-spacing {
  word-spacing: 50px;
}

.white-space {
  white-space: pre;
}

.color {
  color: #F99B17;
}

.line-height {
  line-height: 50px;
}

.font {
  font: italic bold 20px Arial;
}

.font-family {
  font-family: courier;
}

.font-size {
  font-size: 30px;
}

.font-weight {
  font-weight: 900;
}

.font-face {
  font-family: robotolight;
}

.size-color {
  width: 960px;
  height: 50px;
  background: red;
}

/*用两种方法来实现一个背景色为红色、宽度为960px的<DIV>在浏览器中居中*/
.bg1 {
  margin: 0 auto 10px;
}

.bg2 {
  position: relative;
  left: 50%;
  margin-left: -480px;
}

@media screen and (max-width:9600px) {
  .bg2 {
    position: relative;
    left: 0;
    margin-left: 0;
  }
}


/*有的圆角矩形是复杂图案，无法直接用border-radius，请在不使用border-radius的情况下实现一个可复用的高度和宽*/
.rectangle {
  margin: 10px;
}

.div1, .div2, .div3, .div4, .div5, .div6, .div7, .div8 {
  height: 1px;
  font-size: 1px;
}

.div1, .div8 {
  margin: 0 5px;
}

.div2, .div7 {
  margin: 0 3px;
  border-left: 2px solid;
  border-right: 2px solid;
}

.div3, .div6 {
  margin: 0 2px;
  border-left: 1px solid;
  border-right: 1px solid;
}

.div4, .div5 {
  margin: 0 1px;
  border-left: 1px solid;
  border-right: 1px solid;
  height: 2px;
}

.content-rectangle {
  border-left: 1px solid;
  border-right: 1px solid;
}

.color .div2,
.color .div3,
.color .div4,
.color .div5,
.color .div6,
.color .div7,
.color .content-rectangle {
  border-color: black;
}

.color .div1,
.color .div8 {
  background: black;
}

/*用两种不同的方法来实现一个两列布局，其中左侧部分宽度固定、右侧部分宽度随浏览器宽度的变化而自适应变化*/
.left1 {
  width: 200px;
  background: red;
}

.right1 {
  flex: 2;
  background: blue;
}

.left2 {
  width: 200px;
  background: red;
  float: left;
}

.right2 {
  overflow: hidden;
  background: blue;
}

/*用两种不同的方式来实现一个三列布局，其中左侧和右侧的部分宽度固定，中间部分宽度随浏览器宽度的变化而自适应变化*/
.content-wrapper {
  float: left;
  width: 100%;
  background: blue;
}

.content-center {
  margin: 0 200px;
}

.sidebar-left {
  float: left;
  width: 200px;
  margin-left: -100%;
  background: red;
}

.sidebar-right {
  float: left;
  width: 200px;
  margin-left: -200px;
  background: red;
}

.left-flex {
  width: 200px;
  background: red;
}

.content-flex {
  flex: 2;
  background: blue;
}

.right-flex {
  width: 200px;
  background: red;
}

/*实现一个浮动布局，红色容器中每一行的蓝色容器数量随着浏览器宽度的变化而变化*/
.float-wrapper {
  margin: 10px 0 0;
  background: red;
}

.float-wrapper:after {
  content: "";
  display: block;
  clear: both;
}

.float {
  margin: 10px;
  background: blue;
  float: left;
  width: 220px;
  height: 100px;
}
