body{
    width:100%;
    margin-left:auto;
    margin-right: auto;
    background-color: #EEEEEE;

}
/*关于header的布局设定*/
.top{
   margin-top:0;
    width:100%;
    height:80px;
    background-color:#522A5C;
    float:left;
    position: relative;
}
.top_text{
    width:980px;
    height:70px;
    margin-top:0px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    /* background-color: black;*/

}
.my_logo{
    position: absolute;
    width:120px;
    height:70px;
    margin-top:0;
    margin-left:0;
    float:right;
}
.my_logo img{

    margin-top:10px;
    width: 80px;
    height:60px;
}
.tag{
    margin-top: 10px;
    width:255px;
    height:20px;
    float:right;
    /* background-color: white;*/
    padding-top: 40px;

}
.tag span{

    margin-top:10px;
    font-size: 14px ;
    font-family: 宋体;
    margin-left:28px;
    color:white;
}
.logo {
    position: absolute;
    top:30px;
    left:1100px;
    margin:0;
    width:50px;
    height:80px;
    /*background-color: pink;*/



}
.logo img{
    width:60px;
    height:60px;
}
/*第二部分的布局设定*/
.second{
    margin-right: auto;
    margin-left: auto;
background: url(../img/Beijing.jpg )  no-repeat 0 center;
    width:100%;
    height:526px;
    float:left;
/*    background-size: 100% ;*/

}
/*实现渐变颜色*/
.gradient{
  margin-top:400px;
    margin-left:820px;

    width:360px;
    height:120px;
    padding: 10px 10px 30px 10px;
/*   background:-webkit-gradient(linear, 0 0, 0 bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0)),);*/
    background:-webkit-gradient(linear,0% 0%, 0% 100%,  from(rgba(255, 255, 255, 0.7)),  to(rgba(255, 255, 255, 0)),  color-stop(0.25,rgba(255, 255, 255, 0.5)))
 /*   background:-webkit-gradient(linear,0% 0%, 0% 100%,  from(rgba(255, 255, 255, 1)),  to(#000000),  color-stop(0.25,rgba(255, 255, 255, 1)), color-stop(0.25,#000000))*/
}
.gradient h1{
    font-size:14px;
    font-weight: normal;
    text-align:right;
    color:white;
}
.gradient span{
    margin-top: 12px;
    font-size:12px;
    text-indent: 30px;
    line-height:150%;
    text-align:left;
   color:white;

}
/*第三部分css文件*/
.third{
    width:100%;
    height:480px;
    background-color: #EEEEEE;
    float:left;
}
.faceul{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width:980px;
    height:360px;
    list-style-type: none;
    padding :0;
    background-color: #EEEEEE;
 /*border:1px solid red;*/
}
.faceul li{
    margin-top:0;
    margin-left:0px;
    width:320px;
    height:360px;
    float:left;
    text-align: center;
background-color: white;
}
.faceul img{
    margin-top:10px;
    width:300px;
    height:180px;

}
.s1{
    margin-top: 15px;
    margin-left: 30px;
    width:260px;
    height:140px;
    text-indent: 30px;
    line-height:170%;
    text-align:left;
  /*  background-color: pink;*/

}
#edge{
    margin-left:10px;
}
.font1{
    font-size:12px;
}
/*第四部分*/
.round_photo{
   float:left;
   position:absolute;
 /*  position:absolute;*/
  top:-210px;
    left:415px;
}
.round_photo img{
    width:160px;
    height:160px;
    border:1px solid #ddddde;
  /*  -webkit-border-radius: 80px;*/
    border-radius:80px;
   /* behavior:url(PIE.htc);*/
}
.forth{
    position: relative;
    width:100%;
    height:520px;
    background-color: white;
    float:left;
}
.fourth_container{
    position: relative;
    width:980px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    height:300px;
    background-color: white;

}
.intro{
    width:600px;
    height:200px;
    margin-top:155px;
    margin-left:auto;
    margin-right:auto;
  /* background-color: pink;*/

}
.intro h1{
    font-size:20px;
    font-weight: normal;
    font-family: Century Gothic;
    text-align:center;
    color:black;
}
.intro span{
    margin-top: 12px;
    font-size:14px;
    text-indent: 30px;
    line-height:170%;

}
.last1{
    width:100%;
    height:36px;
    background-color: #000000;
    border-bottom: 1px solid #333333;
    float:left;
}


.div1{
    margin-top: 12px;
    width:180px;
    height:24px;
   margin-left: auto;
    margin-right: auto;
    font-size:14px;
    color:white;

  /*  background-color: pink;*/
}

.last2{
    width:100%;
    height:250px;
    background-color: #000000;
    float:left;
}
.faceul1{
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width:980px;
    height:240px;
    list-style-type: none;
    padding :0;
    background-color: #000000;
    /*border:1px solid red;*/
}
.faceul1 li{
    margin-top:0;
    margin-left:0px;
    width:180px;
    height:240px;
    float:left;
    text-align: left;
    background-color: black;
}
.div2{
    color:#CCCCCC;
    font-size:14px;
    font-weight: normal;
}
.faceul1 span{
    font-size:14px;
    color:white;
}

a:link{
    text-decoration: none;
}
a:hover{
    text-decoration:underline;
    font-size: 22px;
    color:red;
}
.last3{
    width:100%;
    height:110px;
    background-color: black;
    float:left;
}
.div3{
    margin-top: 42px;
    width:70px;
    height:68px;
    margin-left: auto;
    margin-right: auto;
    font-size:14px;
    color:white;
  /*  background-color: pink;*/
    text-align: center;

    /*  background-color: pink;*/
}
.div3 img{
    width:50px;

}
.div4{
    margin-top: 0px;
    width:40px;
    height:40px;
    margin-left: auto;
    margin-right: auto;
    font-size:14px;
    color:white;
      background-color: pink;
    text-align: center;
    float:right;
    /*  background-color: pink;*/
}
.gradient ,
.s1,
.intro{
    height:auto;
    overflow:hidden;
}