body, html {
    background-color: #EDEDED !important;
}

.intro {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.intro h1 {
    font-weight: bold;
    text-transform: uppercase;
}

.corner-btn {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

span.task-date {
    color: #FFFFFF;
}

.new-menu {
    padding-top: 30%;
    text-align: center;
}

.new-btn {
    width: 200px;
}