header {
    margin-bottom: 100px;
}

footer {
    margin-top: 30px;
}

main {
    background: url("img/bg-y.png") repeat-y 50% #ffffff;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.avatar {
    display: block;
    width: 164px;
    height: 164px;
    border: 8px solid #eeeeee;
    border-radius: 90px;
    margin: 0 auto -90px;
    position: relative;
    top: -90px;

}

.call, .job, .edu {
    display: block;
    width: 100px;
    height: 100px;
    border: 5px solid #eeeeee;
    border-radius: 55px;
    margin: 0 auto 20px;
}

main section h1 {
    margin-left: 360px;
    font-size: 20px;
}

main section p, main section ul {
    line-height: 150%;
    font-size: 14px;
    word-wrap: break-word;
    word-break: break-all;
    margin: -20px auto 20px 530px;
}

.edu-detail p, .job-detail p {
    margin-left: 0;
}

main section p {
    text-indent: 2em;
    width: 320px;
}

main section h2 {
    font-weight: normal;
    margin: -6px auto 40px -75px;
    font-size: 14px;
    width: 60px;
    float: left;
    display: inline;
    text-align: center;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    background: #ffffff;
    border: 5px solid #eeeeee;
}

.edu-detail li, .job-detail li {
    margin-bottom: 10px;
}
