@charset "utf-8";
/**
*Website:/reset.css
*Author:llf{2012-7-24}
**/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}

body, button, input, select, textarea {
    font-size: 12px;
}

ul, ol {
    list-style: none;
}

li {
    list-style-type: none;
}

fieldset, img {
    border: 0;
}

em, cite {
    font-style: normal;
}

button, input, select, textarea, label {
    outline: medium none;
    vertical-align: middle;
}

a {
    cursor: pointer;
    color: #000000;
}

button {
    cursor: pointer;
    font-size: 12px;
}

table {
    border-collapse: collapse;
    border: none;
}

html {
    font-family: "Microsoft YaHei",SimSun,Arial, Helvetica, sans-serif;
    font-size: 12px/150%;
    overflow: visible;
    *overflow: hidden;
    *height: 100%;
}

body {
    *position: relative;
    overflow: auto;
    width: 100%;
    height: 100%;
    cursor: default;
    font-family: "Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;
}

textarea {
    word-wrap: break-word;
    resize: none;
}

/**清除浮动**/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; /*line-height:0;*/
}

.clearfix {
    zoom:1;
}




