.search{
    padding:20px;
    position:relative;
    background-color:#ffffff;
}

.search-text{
    height:30px;
    background:url("img/放大镜2.png")5px center no-repeat;
    text-align:center;
    border:1px solid #cccccc;
}
.search-text:focus{
    border:solid 1px #000000;
}
.search .go{
    position:absolute;
    left:182px;
    width:30px;
    height:34px;
    line-height:34px;
    text-align:center;
    color:#ffffff;
    background:#cccccc;
}