*{
	margin:0;
	padding:0;}
.main{
	height:1525px;
	width:100%;
	background:#eeeeee;}
.main-body{
	height:1525px;
	width:980px;
	margin:0 auto;}
.main-left{
	float:left;
	margin-top:20px;
	height:1300px;
	width:710px;}
.left-cont{
	height:330px;
	width:676px;
	background:#fff;
	padding:23px 20px 16px 14px;
	margin-bottom:10px;}
.lab{
	height:80px;
	width:50px;
	position:absolute;
	margin-left:-64px;
	margin-top:3px;}
.lab div{
	width:50px;
	height:40px;
	color:#fff;
	text-align:center;
	line-height:40px;}
.lab1{
	background:#522A5C;}
.lab2{
	background:#a660b7;}
.cont{
	height:283px;
	width:676px;
	position:relative;}
.cont h3{
	color:#a660b7;
	font-size:16px;
	margin-bottom:11px;}
.cont h4{
	color:#666;
	font-size:12px;
	margin-bottom:13px;}
.cont p{
	font-size:12px;
	line-height:22px;
	text-indent:24px;}
.cont-footer{
	height:12px;
	width:170px;
	color:#999999;
	font-size:12px;
	margin-top:30px;
	float:right;}
/*正文结束*/
.jump{
	height:34px;
	width:572px;
	margin:0 auto;}
.jump div{
	display:inline-block;
	float:left;
	height:35px;
	margin-left:10px;
	text-align:center;}
.jump div:first-child{
	margin-left:0;}
.word{
	width:70px;
	background:#fff;}
.jump a{
	font-size:12px;
	line-height:34px;
	text-decoration:none;
	color:#000;}
.num{
	background:#fff;
	width:40px;}
.ellipsis{
	width:52px;
	background:#fff;}
.word:hover,.num:hover{
	background:#a660b7;}
.page-selected{
	width:40px;
	background-color:#a660b7;}
.page-selected a,.word:hover a,.num:hover a{
	color:#fff;}
/*跳页结束*/	
.main-right{
	float:right;
	margin-top:20px;
	height:748px;
	width:260px;}
.search-container{
	position:absolute;
	height:80px;
	width:260px;
	background:#fff;}
.search{
	height:42px;
	width:222px;
	margin-left:19px;
	margin-top:19px;
	text-align:center;}
.search-input{
	float:left;
	width:169px;
	height:40px;
	border:1px solid #dddddd;}
.btn{
	height:42px;
	width:51px;
	border:1px solid #dddddd;
	color:#fff;
	font-size:20px;
	cursor:pointer;}
.tab{
	position:absolute;
	margin-top:90px;
	height:201px;
	width:260px;}	
.tab div{
	height:49px;
	width:256px;
	border-bottom:1px solid #dddddd;
	background:#fff;
	cursor:pointer;
	border-left:4px solid #dfc6e6;
	line-height:49px;
	text-align:center;
	color:#666666;}
.tab div:first-child{
	border-top:1px solid #dddddd;}
.tab div:hover{
	border-left:4px solid #522a5c;}
/*tab结束*/
.calendar{
	height:240px;
	width:260px;
	position:absolute;
	margin-top:301px;
	background:#fff;}
.tags{
	position:absolute;
	margin-top:551px;
	height:197px;
	width:260px;
	background:#fff;}