/*

Baidu IFE Task0001 

Author: michaelluang
URL:    http://github.com/michaelluang
Email:  michaelluang@gmail.com

*/

/* Reset
-------------------------------------------------- */
*, *:before, *:after {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
header, footer, nav, img {
    display: block;
}

/* Site
-------------------------------------------------- */
html {
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
body {
    margin: 0 auto;
    width: 100%;
    position: relative;
    background-color: ;
}
a {
    text-decoration: none;
    color: red;
}
ul {
    list-style-type: none;
}
.main {
    width: 980px;
    margin: 0 auto;
}
/* Navgation Bar
-------------------------------------------------- */
.site-header {
    position: relative;
    background-color: #ddd;
    width: 100%;
    height: 80px;
}
.header-inside {
    max-width: 980px;
    margin: 0 auto;
}
.nav {
    width: 980px;
    margin: 0 auto;
}
.logo img {
    display: block;
    position: relative;
    top: 35px;
    left: 0;
    padding-bottom: 0;
}
.menu {
    float: right;
    position: relative;
    right: 0;
    bottom: -15px;    
}
.menu li {
    display: inline-block;
    float: left;
}
.menu a {
    font-family: "宋体";
    font-size: 14px;
    color: red;
    margin-left: 28px;
}
.github {
    position: absolute;
    right: 10px;
    bottom: -4px;
}
.github img {
    width: 30px;
    height: 34px;
}

/* Homepage cover
-------------------------------------------------- */
.cover {
    width: 100%;
    height: 525px;
    background: url(../img/banner-bg.jpg) no-repeat center;
}
.section {
    position: relative;
    max-width: 980px;
    height: 525px;
    margin: 0 auto;
}
.cover-contents {
    width: 320px;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px 10px 30px 10px;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.7) 70%, rgba(255 , 255, 255, 0) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.7) 0, rgba(255 , 255, 255, 0) 100%);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.7) 70%, rgba(255 , 255, 255, 0) 100%);
    background: linear-gradient(top, rgba(255, 255, 255, 0.7) 70%, rgba(255 , 255, 255, 0) 100%);
}
.cover-contents h1 {
    font-size: 14px;
    text-align: right;
    padding-bottom: 12px;
}
.cover-contents p {
    font-size: 12px;
    line-height: 150%;
    text-align: right;
}

/* Teaser
-------------------------------------------------- */
.teaser-main {
    height: 400px;
    padding-top: 10px;
    padding-bottom: 200px;
    background: yellow;
    overflow: hidden;
}
.teaser {
    max-width: 980px;
    margin: 0 auto;
    list-style: none;
}
.teaser li {
    float: left;
    width: 320px;
    margin: 0 5px;
    padding-bottom: 5000px;
    margin-bottom: -5000px;
    background-color: #e3e3e3;
}
.teaser li:first-child {
    margin-left: 0;
}
.teaser li:last-child {
    margin-right: 0;
}
.teaser li img {
    width: 300px;
    height: 180px;
    margin: 10px;
    margin-bottom: 15px;
}
.teaser li p {
    font-size: 12px;
    line-height: 170%;
    margin: 0 30px 25px 30px;
}

/* Introduction
-------------------------------------------------- */
.intro {
    position: relative;
    text-align: center;
    clear: left;

}
.intro img {
    width: 160px;
    height: 160ox;
    border-radius: 100%;
    display: inline-block;
    margin-top: -50px;
}
.intro h2 {
    font-family: "Century Gothic";
    font-size: 20px;
    margin-top: 50px;
   
}
.intro p {
    font-size: 14px;
    color: #000;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 200px;
}

/* Footer
-------------------------------------------------- */
.site-footer {
    background-color: #111;
    color: #f3f3f3;
    width: 100%;
    clear: both;
}
.footer-nav {
    text-align: center;
    border-bottom: 2px solid #666;
}
.footer-nav li {
    display: inline-block;
    margin: 10px;
}
.footer-content {
    width: 980px;
    margin: 0 auto;
}
.column {
    display: inline-block;
    vertical-align: top;
    width: 106px;
    margin: 20px 0;
    margin-right: 80px;
}
.copyright {
    text-align: center;
}
.copyright img {
    display: inline-block;
    width: 30px;
    height: 34px;
    margin: 10px;
    border-radius: 25%;
    background: #fff;
}

/* Articles
-------------------------------------------------- */
.articles, .pagination {
    float: left;
    width: 735px;  
    margin-bottom: 200px;  
}
article {
    position: relative;
    background-color: #f1f1f1;
    margin: 10px;
    margin-left: 0;
}
.info {
    position: absolute;
    left: -40px;
    top: 5px;
    width: 40px;
    border: 1px solid #111;
    text-align: center;
}
.pagination ul {
    text-align: center;
}
.pagination li {
    display: inline-block;
    padding: 10px 15px;
    margin: 10px 5px;
    background-color: #f1f1f1;
}
.pagination li a.selected {
    background-color: red;
}
.sidepieces {
    float: right;
    width: 240px;
    margin-top: 10px;
}
aside {
    background-color: #f1f1f1;
    margin-top: 10px;
}
.search {
    height: 80px;
    margin-top: 0;
}
.search-inner {
    position: relative;
    top: 20px;
    left: 0;
    height: 40px; 
}
.search-inner img {
    display: inline-block;
    position: relative;
    top: 4px;
    left: 4px;
    width: 32px;
    height: 32px;
}
.search-inner input {
    height: 40px;
    vertical-align: top;
    outline: none;
}
.search-inner input:focus + button {
    background-color: red;
}
.search-inner button {
    height: 40px;
    width: 40px;
    margin-left: 1px;
    font-size: 20px;
    vertical-align: top;
}
.lables li {
    height: 40px;
    font-size: 14px;
    padding-left: 12px;
    padding-top: 10px;
    border: 1px solid #fff;
    border-left: 4px solid #666;
    border-right: none;
}
.lables li.active, .lables li:hover {
    border-left: 4px solid red;
}
.calendar h3 {
    text-align: center;
    padding: 10px;
}
.calendar span.prev{
    float: left;
}
.calendar span.next {
    float: right;
}
.calendar table {
    margin: 0 auto;
    padding-bottom: 10px;
}
.calendar td {
    padding: 5px;
    text-align: center;
    border-bottom: 2px solid #fff;
    border-spacing: 0px;
    border-collapse: collapse;
}
.calendar .date-today {
    background-color: red;
    color: #fff;
}
.calendar .active {
    color: blue;
}
/* Gallery
-------------------------------------------------- */
.tab-menu {
    width: 730px;
    margin-top: 20px;
}
.tab-menu li {
    display: inline-block;
    padding: 10px;
    padding-top: 15px;
    border-left: 2px solid #f2f2f2;
}
.tab-menu li.tab-menu1 {
    border-top: 4px solid #e00;
    border-left: none;
}
.tab-menu li.tab-menu1:hover {
    border-top: 4px solid #f00;
}
.tab-menu li.tab-menu2 {
    border-top: 4px solid #0e0;
}
.tab-menu li.tab-menu2:hover {
    border-top: 4px solid #0f0;    
}.tab-menu li.tab-menu3 {
    border-top: 4px solid #00e;
}
.tab-menu li.tab-menu3:hover {
    border-top: 4px solid #00f;
}.tab-menu li.tab-menu4 {
    border-top: 4px solid #ee0;
}
.tab-menu li.tab-menu4:hover {
    border-top: 4px solid #ff0;
}.tab-menu li.tab-menu5 {
    border-top: 4px solid #0ee;
}
.tab-menu li.tab-menu5:hover {
    border-top: 4px solid #0ff;
}
.tab-menu li.active {
    border-top: 4px solid #000;
}
.gallery-show {
    width: 730px;
    margin-right: 10px;
}

.box-left, .box-right {
    display: inline-block;
    float: left;
    width: 360px;
}
.box-left {
    margin-right: 10px;
}
.box-wrap-left {
    display: inline-block;
    float: left;
    width: 175px;
    margin-right: 10px;
}
.box-wrap-right {
    display: inline-block;
    float: left;
    width: 175px;
}
.box-contents-large {
    width: 360;
    margin-bottom: 10px;
}
.box-contents {
    width: 175px;
}
.box-contents-large img {
    width: 360px;
    height: 180px;
}
.box-contents img {
    width: 175px;
    height: 175px;
}
.gallery-footer {
    display: inline-block;
    width: 730px;
    height: 50px;
    text-align: center;
    background-color: #f1f1f1;
}
.gallery-footer img {
    display: inline-block;
}

.ranking h3 {
    text-align: center;
    padding-top: 10px;
}
.ranking li {
    margin: 10px;
}
.ranking-index {
    float: left;
    width: 18px;
    height: 18px;
    background-color: red;
    text-align: center;
    border-radius: 100%;
    color: #fff;
    margin-right: 15px;
}

.ranking-bar {
    float: left;
    width: 100px;
    height: 18px;
    border: 2px solid #fff;
    margin-right: 10px;
}
.ranking-value {
    background-color: red;
}



.about-me {
    margin-top: 100px;
    background-color: #f1f1f1;
}
.about-pix, .about-pix-large {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: 0 auto;
    position: relative;
    top: -50px;
    border: 10px solid #fff;
}
.about-pix-large {
    width: 180px;
    height: 180px;
}
.about{
    position: relative;
    top: -50px;
    padding: 30px 0;
    border-right: 5px solid #fff;
    border-left: 5px solid #fff;
    width: 0;
    margin: 0 auto;
}
.heading {
    font-size: 20px;
    position: absolute;
    top: 30px;
    left: -150px;
}
.about p {
    font-size: 14px;
    position: relative;
    top: -5px;
    left: 60px;
    width: 250px;
}

.about-dateinfo {
    position: relative;
    left: -27px;
    top: 20px;
    padding: 0 10px;
    border: 3px solid #fff;
    border-radius: 10px;
}

























