.centerBase{
    width:100px ;
    background-color: red;
    height: 50px;
    margin-bottom: 10px;
    text-align: center;
}
.center1{
    margin: 0 auto;
}
.center2{
    left: 50%;
    position: absolute;
    margin-left: -450px;
}
.center3{
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -450px;
    margin-top: -150px;
}
.center4{
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}
 /*roudedRectangle*/
.roundedRectangle{
    min-width: 100px;
    max-width: 300px;
    margin: 0 auto;
    min-height: 300px;
    position: absolute;
    top:500px
}
.t1 ,.b1{margin:0 5px;border-left: 1px solid;border-right:1px solid;min-width:90px;background-color: #96C2F1}
.t2 ,.b2{margin:0 4px;border-left: 1px solid;border-right:1px solid;min-width:92px; }
.t3 ,.b3{margin:0 3px;border-left: 1px solid;border-right:1px solid;min-width:94px; }
.t4 ,.b4{margin:0 2px;border-left: 1px solid;border-right:1px solid;min-width:96px; }
.t5,.d5 {margin:0 1px;border-left: 1px solid;border-right:1px solid;min-width:99px;}
.t1,.t2,.t3,.t4,.t5,.b1,.b2,.b3,.b4,.d5{
    border-color: #96C2F1;
     height: 1px;
     position: relative;
}
.content{
    min-width: 100px;
    min-height: 100px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color:#96C2F1;
}
/*roudedRectangle end*/
/*secondLine*/
.main {min-width:60px;min-height:600px; background:#FEFF0A;}
.main-left {width:300px;height:300px;background:#98FF1A;}
.main-right {height:400px;background:#7CC0FF;margin-left: 300px}
.float {float:left;}
.clear{clear:both;height : 0; line-height:0; font-size:0;}
.mainTable{
    display: table;
    width: 100%;
}
.tableLeft{
    width: 100px;
    height: 200px;
    background-color:#98FF1A ;
}
.firstTable{
    display: table-cell;
}
.tableRight{
    height: 300px;
    background-color: #7CC0FF;
}
/*secondLine end*/

/*threeLines end*/
.threeLines{
    display: table;
    width: 100%;
}
.threeLeft{
    background-color:pink ;
    width: 100px;
    height: 200px;
}
.threeContent{
    height: 200px;
    background-color: gainsboro;
}
.threeRight{
    width: 200px;
    height: 200px;
    background:red;
}
/*threeLines end*/
#wrap {
    overflow: hidden; *zoom: 1;
}
#content ,#sidebar {
    background-color: #eee;
}
#sidebar {
    float: right; width: 300px;
}
#content {
    margin-right: 300px;
}
#footer {background-color: #f00;color:#fff; margin: 1em}
.floatLines{
    width: 100%;
}
.floatLeft{
    float: left;
    width: 100px;
    height: 100px;
    background:red;
}
.floatContent{
    height: 200px;
    background-color:pink ;
    margin-left: 100px;
    margin-right: 100px;
}
.floatRight{
    float: right;
    width: 100px;
    height: 100px;
    background-color:#7CC0FF ;
}
.wrapper div{
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 1px solid #ff0000;
    margin: 4px;
}
.wrapper .special{
    width: 200px;
    height: 400px;
}
.negative{
    width: 580px;
    height: 100px;
    float: left;
    margin-right: -50px;

}
.gray{
    background-color: gray;
}
.green{
    background-color: green;
}
.red{
    background-color: #ff0000;
}