body {
    margin: 0;
}

.header {
    background-color: #663366;
    height: 80px;
    margin: 0 auto;
}

.logo {
    color: #fff;
    position: relative;
    width: 30%;
    float: left;
}

.logo h2 {
    margin: 0;
    padding: 40px 0 0 35px;
}

.menu {

    float: left;
    width: 500px;
    right: -200px;
    position: relative;
    top: 40px;
    left: 380px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin: 2px;
}

.banner {
    margin: 0;
}

.banner img {
    width: 100%;
    height: auto;
}

.content {
    height: 300px;
    background-color: #CCCC00;
    margin: 0;
    text-align: center;
}

.content-img {
    float: left;
    position: relative;
    margin: 5px;
    background: #ffffff;
}

.img-left {
    margin-left: 50px;
}


.introduction {
    text-align: center;
}

.me-img img {
    border-radius: 50%;
    overflow: hidden;
}

.me-desc {
    width: 40%;
    margin: 0 auto;
}


.footer {
    background-color: #000000;
    color: #ffffff;
}

.footer-menu {
    text-align: center;
    /*margin: 5px auto;*/
    padding: 10px;

}

.footer-menu a {
    text-decoration: none;
    color: #fff;
}

.link-group {
    float: left;
    position: relative;
    width: 25%;
}

.list-group {
    margin-left: 15px;
    margin-right: auto;
}

.list-group li {
    list-style-type: none;
}

.list-group a {
    color: #ffffff;
    text-decoration: none;
}

.copyright {
    text-align: center;
}

#all-content {
    width: 1020px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}