/*reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre, 
input,textarea,p,th,td { 
margin:0; 
padding:0; 
} 
table { 
border-collapse:collapse; 
border-spacing:0; 
} 
fieldset,img { 
border:0; 
} 
address,caption,cite,code,dfn,em,strong,th,var { 
font-style:normal; 
font-weight:normal; 
} 
ol,ul { 
list-style:none; 
} 
caption,th { 
text-align:left; 
} 
h1,h2,h3,h4,h5,h6 { 
font-size:100%; 
font-weight:normal; 
} 
q:before,q:after { 
content:”; 
} 
abbr,acronym { border:0; 
} 
a{
	text-decoration: none;
}
img{
	display: block;
}
p{
	font-size: 12px;
}
body{
	background: #eeeeee;
}
/*header*/
#header{
	height: 80px;
	width: 100%;
	min-width: 980px;
	background: #522a5c;
	position: relative;
}
#head-main{
	width: 980px;
	position: absolute;
	bottom: 0;
	left: 0; 
	right: 0;
    margin: auto;
    padding: 40px 0 5px 0;
}
#logo{
	width: 40px;
	float: left;
	font-size: 17px;
	font-weight: bold;
}
#navbar{
	overflow: hidden;
	position: absolute;
	bottom:5px;
	right: 0;
	
}
.nav{
	margin-left: 28px;
	float:left;
	font-family: 宋体;
	font-size: 14px;	
}
.nav a{
	color: white;
}
.github{
	position: absolute;
	bottom:0;
	right: 10px;
}
@media (max-width: 980px){
	.github{
	display: none;
	}
}
/*header end*/
/*banner*/
#banner{
	min-width: 980px;
	position: relative;
}
#banner img{
	width: 100%;
	min-width: 980px;
}
.banner-content{
	padding: 10px 10px 30px;
	width: 340px;
	position: absolute;
	bottom: 0;
	right: 110px;
	color: white;
	background-color: #ffffff;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    background:-webkit-gradient(linear,left 100%,left 25%, from(rgba(255,255,255,0.7)), to(rgba(255,255,255,0.5)));
    background:-webkit-gradient(linear,left 25%,left bottom, from(rgba(255,255,255,0.5)), to(rgba(255,255,255,0)));
}
.banner-titel{
	float: right;
	font-size: 14px;
}
.banner-p{
	margin-top: 12px;
	line-height: 150%;
	text-indent: 2em;
	float: right;
}
/*banner end*/
/*content*/
#content-wrap{
	clear: both;
	width: 980px;
	margin: 10px auto 0;
	overflow: hidden;
}
.content{
	float: left;
	width: 300px;
	padding: 10px 10px 10025px;
	background: white;
	margin-left: 10px;
	margin-bottom: -10000px;
}
.content:first-child{
	margin-left: 0px;
}
.content-pic{
	width: 300px;
	height: 180px;
}
.content-p{
	padding: 0 20px;
	text-indent: 2em;
	line-height: 170%;	
}
/*content end*/
/*self-introduction*/
#introdution{
	background: white;
	margin-top: 110px;
	padding-bottom:185px; 
}
#my-photo{
	position: relative;
	width: 160px;
	height: 160px;	
	margin:0 auto;
}
#my-photo img{
	position: absolute;
	top: -50px;
	width: 160px;
	height: 160px;
	border-radius: 80px;
}
#hi{
	text-align: center;
	font-family: "Century Gothic";
	font-size: 20px;
	margin-bottom:50px; 
}
#self{
	width: 600px;
	margin:auto;
	font-size: 14px;
	line-height: 170%;
	text-indent: 2em;
}
/*self-introduction end*/
/*blog*/
#wrapper{
	width: 980px;
	margin: 20px auto;
}
#main{
	width: 710px;
	float: left;
}
.article{
	padding: 20px;
	margin-bottom: 10px;
	background: white;
	position: relative;
}
.article-info{
    position:absolute;
    left:-50px;
    top:20px;
}
.article .date,
.article .tag{
    display: block;
    width: 50px; 
    height: 40px; 
    background-color: #522a5c; 
    color:#fff; 
    font-size: 14px; 
    line-height: 40px; 
    text-align: center; 
    font-family: "Microsoft YaHei";
}
.article .tag{
	background: #a660b7;
}
.article h2{
	font-size: 16px;
	color: #a660b7;
	font-weight: bold;
}
.article h3{
	font-size: 12px;
	color: #666666;
	font-weight: bold;
}
.article p{
	text-indent: 2em;
}
.info{
	margin-top: 20px; 
	text-align: right; 
	color:#888;
	font-size: 12px;
}
.page{
	text-align: center;
}
.page li{
	display: inline-block;
	padding: 15px;
	font-size: 12px;
	background: white;
	margin:0 5px 20px;
}
#side{
	width: 260px;
	float: right;
}
#search{ 
	position: relative; 
	padding: 20px;
	margin-bottom: 10px; 
	background-color: #fff; 
}
#search-btn { 
	position: absolute; 
	top: 20px; 
	right: 28px; 
	display: block; 
	width: 52px; 
	height: 40px; 
	background-color: #ddd; 
	color:#fff; 
	font-size: 18px; 
	text-align: center; 
	line-height: 40px; 
}
#search-btn:hover { 
	background-color: #aaa; 
}
#search-box { 
	width: 96px; 
	height: 18px;
	border: 1px solid #ddd; 
	background-color: #fff; 
	padding: 10px;
	padding-left: 50px; 
	padding-right: 60px; 
	outline: 0; 
	background: url(../img/searchioc.jpg) no-repeat 10px center; 
	color:#999; 
}
#search-box:focus { 
	color: #333; 
}
#search-box:focus + #search-btn { 
	background: #aaa; 
}


/*blog end*/
/*footer*/
#bottom{
	clear: both;
	background:black;
	height: 35px;
	border-bottom: 1px solid #333333;
}
#bottom-navbar{
	width: 208px;
	margin: auto;
}
.bottom-nav a{
	margin:0 14px;
	float:left;
	font-family: 宋体;
	font-size: 12px;
	line-height: 35px;
	color: white;
}
#information{
	background: black;
	overflow: hidden;
}
#row{
	overflow: hidden;
	margin: 16px auto 0;
	width: 980px;
}
.link{
	float: left;
	width: 20%;
	color: white;
}
.link dt{
	line-height: 64px;
	font-size: 12px;
	color: #cccccc;
}
.link a{
	display: block;
	line-height: 18px;
	font-size: 12px;
	font-family: 宋体;
	color: white;
}
.link a:hover{
	text-decoration: underline;
}
#copyright{
	color: white;
	text-align: center;
	font-size: 12px;
	margin-top: 98px;
}
#copyright img{
	margin: 20px auto 0;
}
/*footer end*/