html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent
}
body {
	line-height: 1
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
nav ul ,ul{
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: none
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	text-decoration: none;
}
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none
}
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold
}
del {
	text-decoration: line-through
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
/*hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0
}*/
input, select {
	vertical-align: middle
}
body {
	width: 100%;
	background-color: #D7C8C8;
	min-width: 980px;
}
header {
	height: 80px;
	background-color: purple;
	position: relative;
}
.header-content {
	width: 980px;
	height: 80px;
	margin: 0 auto;
	font-size: 14px;
}
.header-content p {
	color: white;
	margin-top: 50px;
	display: inline-block;
	font-size: 20px;
}
.header-content nav {
	float: right;
	height: 80px;
}

/*.header-content nav ul{float: right;}*/
.header-content nav ul {

	/*line-height: 80px;*/padding-top: 56px;
}
.header-content nav ul li {
	display: inline;
	float: right;
	padding-left: 28px;
	font-size: 14px;
}
.header-content nav ul li a {
	color: white;
}
header img {
	position: absolute;
	bottom: 0;
	right: 10px;
}
@media screen and (max-width:980px) {
	header img {
		display: none;
	}
}
.picShow {
	width: 100%;
	height: 527px;
	background-image: url(../img/banner-bg.jpg);
	background-repeat: no-repeat;	/*background-attachment: scroll;*/
	background-size: cover;	/*cover会使背景图像扩展至足够大，以使背景图像完全覆盖背景区域。
	背景图像的某些部分也许无法显示在背景定位区域中。
	contain把图像图像扩展至最大尺寸，以使其宽度和高度完全适应内容区域。会出现空白*/
}
.picShow-center {
	position: relative;
	width: 980px;
	height: 527px;
	margin: 0 auto;
}
.picText {
	width: 360px;/*float:right;*/
	padding: 10px 10px 30px 10px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	background-color: rgba(255, 255, 255, 0.4);	/*线性渐变透明效果还是没出来*/

	/*background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7)70%, linear-gradient(to bottom, rgba(255, 255, 255, 0.5)50%, linear-gradient(to bottom, rgba(255, 255, 255, 0)0%, );
	    background-image: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0.7)70%, -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0.5)50%, -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0)0%, );
	*/
	color: rgba(255,255,255,1);
}
.picText h1 {
	font-size: 14px;
	margin-bottom: 12px;
	/*display: inline-block;*/
	float:right;
}
/*两者都向右浮动即可布局成功*/
.picText p {
	font-size: 12px;
	line-height: 150%;
	float:right;
}
.center-pic{width: 980px; margin: 10px auto 110px auto;overflow: hidden;}
.left,.center,.right{width: 320px;float:left;margin-right: 10px;padding-bottom: 10000px;margin-bottom: -10000px;background-color: white;/*text-align: center;*/}
.left img,.center img,.right img{width: 300px;height: 180px;margin:10px 10px 0px 10px;}
#lastPic{margin-right: 0px;}
.center-pic p{margin: 15px 30px 25px 30px;font-size: 12px;line-height: 170%;text-indent: 2em;}
.introduction{width:100%;background-color: white;position: relative;/*overflow: hidden;*/}
.introduction img{width: 160px;height: 160px;border-radius: 80px;position: absolute;top:-50px;left:50%;margin-left: -80px;}
.headline{padding-top: 180px;text-align: center;}
.headline h1{font-size: 20px;font-family: Century Gothic}
/*.headline margin-top: 50px;这个设置的是和上面灰色的外边距，而且上面110px,叠加了很明显要用内边距*/
.introduction p{width: 600px;padding-top: 40px;padding-bottom: 180px;margin: 0 auto;text-indent: 2em;font-size: 14px;line-height: 200%;}
footer{width: 100%;background-color: black;}
.footerNav{height: 35px;line-height:35px;margin: 0 auto;width: 200px;list-style-type: none;}
.footerNav li {float:left;margin-right: 18px;}
.footerNav li a{color: white;}
footer hr{color: white;width: 100%;margin: 0;}
.footerLink{width: 980px;margin: 30px auto 0;overflow: hidden;}
.footerLink ul {float: left;margin-right: 132px;color: white;}
/*.footerLink:last-child{margin-right: 20px;}加上之后等级高这个为准就乱套了*/
.footerLink ul a{color:white;}
.footerLink ul :first-child{margin-bottom: 20px;}
.footerLink ul li{line-height: 25px;}
.footerLink ul a:hover{text-decoration:underline; }
.copyright{text-align: center;margin-top: 80px;}
.copyright p{color:white;display: inline;}