* {
    margin: 0;
    padding: 0;
    font-family: "Microsoft Yahei", sans-serif;
}

html,
body {
	height: 100%
}

#main {
	height: 100%;
}

ul {
	float: left;
	margin: 20px 40px;
	width: 102px;
	height: 500px;
	list-style: none;
	border: 1px #000 solid;
}

li,
#holder{
	height: 30px;
	width: 100px;
	background-color: #888;
	border: 1px #000 solid;
	text-align: center;
	list-style: none;
}

#holder {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	opacity: 0.7;
	z-index: -1;
}