.gallery-section{
    position: relative;
    width: 100%;
    margin-bottom: 100px;
}
.gallery-section .wrapper{
    margin-top: 80px;
}
.main{
    width: 710px;
    margin-bottom: 200px;
    margin-top: -130px;
    position: relative;
}
.main .tab{
    position: absolute;
    top: -54px;
}
.tab a{
    float: left;
    border-top-width: 5px;
    border-top-style: solid;
    padding: 15px 20px 20px 20px;
    margin-right: 1px;
    display: inline;
    text-decoration: none;
    color: #000;
    background: white;
}
.all,.ui,.ap{
    border-top-color: lightblue;
}
.js,.fw {
    border-top-color: lightseagreen;
}
.tab a:hover{
    border-top-color:#191970;
}
.gallery-list {
    float: left;
    width: 670px;
    height: 610px;
    padding: 20px 20px 30px 20px;
    background: #ffffff;
    position: relative;
}

.gallery-list article {
    display: block;
    position: absolute;
}

.bg-1 {
    background: #d9a300;
}

.bg-2 {
    background: #8c2300;;
}

.bg-3 {
    background: #5900b2;;
}

.gallery-list article s {
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-decoration: none;
    display: block;
    border-radius: 13px;
    margin: 12px;
    color: #ffffff;
    border: 1px solid #ffffff;
    float: left;
    text-align: center;
}

.gallery-list article h1 {
    font-size: 16px;
    padding: 10px 10px 5px 50px;
    color: #ffffff;
    text-overflow: ellipsis;
}

.gallery-list article p {
    font-size: 12px;
    color: #ffffff;
    padding: 0 10px 20px 50px;
    word-break: break-all;
    word-wrap: break-word;
}

.gallery-more {
    margin-top: 670px;
    width: 650px;
    height: 50px;
    line-height: 50px;
    background: #ffffff;
}

.gallery-more a {
    margin-left:300px ;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    color: #666666;
}
aside{
    position: relative;
    width:260px;
    margin-left: 720px;
    margin-top: 70px;
}

.search{

    padding:20px;
    margin-bottom: 10px;
    margin-top: 10px;
    background: white;
}
.search-1{
    position: relative;
    width: 218px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #dddddd;

}
.search-1 img{
    position: relative;
    left: 0;
    height: 38px;
}
.search-1 input{
    position: absolute;
    left: 44px;
    bottom: 0;
    height: 32px;
    width: 127px;
}
.search-1 button{
    position: absolute;
    top: 0;
    right: 0;
    width: 43px;
    height: 38px;
    background: #eeeeee;
}
.rank {
    overflow:hidden;
    background: white;
    
}
.rank-list{
    margin-left: 10px;
    margin-bottom:10px;
    height:25px;

}
.rank-list>h1{
    float:left;
    margin:0 5px 0 0;
    height:25px;
    width: 25px;
    font-size: 20px;
    color: #eeeeee;
    line-height: 25px;
    text-align: center;
    background: #191970;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}
.rank-list div{
    border: 1px solid #191970;
    float:left;
    height:25px;
    width:120px;
}
.rank-list p{
    margin:0 0 0 15px;
    height:25px;
    line-height:25px;
    text-align:center;
    float:left;
}
