p#errorTip {
    color: red;
}

ul.slide-show {
    list-style-type: none;
    margin-left: -2em;
}

.hideable {
    display: none;
}

/*test4*/

ul#suggestions {
    color: black;
    width: 200px;
    text-align: left;
}

ul#suggestions li {
    list-style-type: none;
}

ul#suggestions li:hover {
    color: red;
    background: black;
}

/*test5*/

div.container {

}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    /*require to make elements draggable in old Webkit*/
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

ul.left-ul, ul.right-ul {
    float: left;
    width: 200px;
    height: 300px;
    list-style: none;
    border: solid 1px black;
    padding: 0;
    margin-left: 200px;
}

ul.left-ul li, ul.right-ul li {
    height: 30px;
    width: 200px;
    background: red;
    border: solid 1px black;
    cursor: move;
}

.item.over {
    border: 2px dashed #000000;
}

.item {
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
}

div.drag-tip {
    clear: both;
    margin-left: 200px;
}