p#errorTip {
    color: red;
}

ul.slide-show {
    list-style-type: none;
    margin-left: -2em;
}

.hideable {
    display: none;
}

ul#suggestions {
    color: black;
    width: 200px;
    text-align: left;
}

ul#suggestions li {
    list-style-type: none;
}

ul#suggestions li:hover {
    color: red;
    background: black;
}