.content {
    width: 980px;
    height: auto;
    margin: 0 auto;
    padding-top: 0px;
    font-family: "Microsoft YaHei";
}
.push {
    height: 25px;
}

.abstract {
    background-color: #fff;
    width: 485px;
    height: auto;
    float: left;
    margin: 100px 5px 25px 0;
    text-align: right;
    font-size: 20px;
}
#selfin, #contact, #education, #internship {
    margin: 0;
    position: absolute;
    float: left;
    background-color: #ddd;
}
#selfin {
    padding: 10px;
    height: 180px;
    top: 110px;
    left: 620px;
    border-radius: 150px;
}
.name {
    padding-top: 150px;
    padding-right: 80px;
    padding-bottom: 120px;
}
#contact, #education, #internship {
    padding: 5px;
    height: 110px;
    left: 657px;
    border-radius: 95px;
}
#contact {
    top: 425px;
}
#contact img {
    border-radius: 50%;
}
.contact {
    padding-top: 120px;
    padding-right: 80px;
    padding-bottom: 120px;
}
#education {
    top: 665px;
}
#education img {
    border-radius: 50%;
}
.education {
    padding-top: 120px;
    padding-right: 80px;
    padding-bottom: 180px;
}
#internship {
    top: 990px;
}
#internship img {
    border-radius: 50%;
}
.internship {
    padding-top: 120px;
    padding-right: 80px;
    padding-bottom: 300px;
}

.detail {
    background-color: #fff;
    width: 485px;
    height: auto;
    float: left;
    margin: 100px 0 25px 5px;
    text-align: left;
    font-size: 14px;
}
.intro, .d-contact, .d-education, .d-internship {
    padding-left: 30px;
    padding-right: 150px;
}
.intro {
    padding-top: 110px;
    padding-bottom: 50px;
}
.d-contact {
    padding-top: 50px;
    padding-bottom: 50px;
}
.d-education {
    padding-top: 85px;
    padding-bottom: 100px;
}
#d-2010, #d-2014 {
    width: 60px;
    height: 35px;
    padding: 5px;
    color: #888;
    background-color: #fff;
    border-style: solid;
    border-color: #ddd;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    float: left;
    left: 682px;
}
#d-2010 {
    top: 820px;
}
#d-2014 {
    top: 905px;
}
.d-internship {
    padding-top: 100px;
    padding-bottom: 235px;
}