/*右列wrap*/
#right-wrap {
	width: 325px;
	height: auto;
	margin-top:20px;
	float: right;
}
/*右列各个模块*/
.right-box {
	background-color: white;
	margin-bottom:10px;
}
/*搜索模块*/
.search-wrap {
	width: 100%;
	background: white;
}
.search-wrap table {
	margin:0 auto;/*table布局，不定宽居中*/
}
.search-box {
	height: 34px;
	margin:20px auto;
	border: 1px solid gray;
}
.search-box .search-img {
	float: left;
	width: 34px;
	height: 34px;
}
.search-box .input{
	height: 34px;
	float: left;
	font-size: 18px;
	font-weight: bold;
	border: hidden;
}
.search-box:focus{
	border: 5px solid red;
}
.search-box .go{
	float: right;
	width: 34px;
	height: 34px;
	text-align: center;
	line-height: 34px;
	background: gray;
}
.search-box .go:hover {
	background-color: greenyellow;
}
.search-box .go a {
	color:white;
	font-size: 22px;
}
.search-box .go a:hover {
	color:red;
}
.topic-box {
	background-color: gainsboro;
}
.topic-box .html,.css,.javascript,.others{
	height: 50px;
	line-height: 50px;
	padding-left: 20px;
	font-size: 22px;
	background-color: white;
	margin-bottom: 2px;
	border-left: 5px solid plum;
}
.topic-box .html:hover,.css:hover,.javascript:hover,.others:hover {
	border-left: 5px solid purple;
	font-size: 25px;
}
.calendar-box table{
	margin: 0px auto;
	
}

.calendar-box td {
	padding:5px 10px;
	margin-right: 30px;
}
.calendar-box table span {
	color:purple;
}
.calendar-box table label {
	color: white;
}
.tags {
	width: 90%;
	height: auto;
	padding: 10px 10px 30px;
	margin: 0 auto;
}
.tags p{
	font-size: 25px;
	font-family: "comic sans ms"
}
.tags span:nth-child(10n){
	color: red;
	font-size: 25px;
	font-family: "comic sans ms"
}

.tags span:nth-child(10n+1){
	color: red;
	font-size: 10px;
	font-family: "agency fb";
}
.tags span:nth-child(10n+2){
	color: hotpink;
	font-size: 20px;
	font-family: "bodoni mt black";
}
.tags span:nth-child(10n+3){
	color: aqua;
	font-size: 30px;
	font-family: "franklin gothic demi";
}
.tags span:nth-child(10n+4){
	color: bisque;
	font-size: 25px;
	font-family: "rage italic";
}
.tags span:nth-child(10n+5){
	color: teal;
	font-size: 14px;
	font-family: "book antiqua";
}
.tags span:nth-child(10n+6){
	color: blueviolet;
	font-size: 36px;
	font-family: "gill sans mt condensed";
}
.tags span:nth-child(10n+7){
	color: brown;
	font-size: 45px;
	font-family: "tw cen mt condensed extra bold";
}
.tags span:nth-child(10n+8){
	color: navy;
	font-size: 30px;
	font-family: "lucida sans unicode";
}
.tags span:nth-child(10n+9){
	color: darkgreen;
	font-size: 20px;
	font-family: "bodoni mt";
}

