* {
	margin:0;
	padding: 0;
}
.head {
	background: mediumpurple;
	width: 100%;
	height: 80px;
	position: relative;/*给github-wrap参照*/
}
.head .github-wrap {
	height: 34px;
	width: 30px;
	position: absolute;/*参照.head*/
	right: 10px;
	bottom:0;
}

.head .head-main {
	width: 980px;
	margin: 0 auto;
	position: relative;/*给topic-wrap参照*/
}
.head .head-main .logo-wrap img{
	width:80px;
	height:80px;
}
.head .head-main .topic-wrap {
	position: absolute;/*参照.head-main*/
	right: 0px;
	bottom: 5px;/*?????????????*/
	overflow: hidden;/*去除列表右边框*/
}

.head-main ul a {
	text-decoration: none;
}
.head-main ul li {
	font-family: "宋体";
	font-size: 14px;
	color: white;
	list-style: none;
	float: left;
	margin-right: 28px;
	margin-bottom: 5px;
}
.head .head-main .topic-wrap ul {
	margin-right: -28px;
	overflow: hidden;/*去除列表右边框*/
	padding: 0;
}

