
.foot {
	background-color: black;
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-bottom: 1px solid gray;
}
.foot ul,a,li {
	text-decoration: none;
	list-style: none;
}
.foot ul {
	display: inline;
}
.foot li {
	display: inline;/*不定宽块状元素居中*/
	margin-right: 28px;
	color: white;
}
.foot li:hover {
	text-decoration: underline;
	color: green;
}

.some-link {
	width: 100%;
	height: auto;
	background-color: black;
	color: white;
}
.link-box {
	width: 980px;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	zoom: 1;
}
.link1,.link2,.link3,.link4,.link5 {
	float: left;
	margin-right: 100px;
	margin-bottom: -5000px;
	padding-bottom: 5000px;
	margin-top: 0;
}
.link1 {
	margin-left:15%;
}
.link5 {
	margin-right: 0;
}
.link-box h6 {
	font-weight: bold;
	font-size: 14px;
	margin: 30px auto;
	text-align: center;
}
.link-box li {
	margin-top:5px;
	text-align: center;
	color: white;
}
.link-box li:hover {
	text-decoration: underline;
	color:red;
}
.copyright {
	text-align: center;
	margin-top: 10px;
}
.some-link img {
	width: 30px;
	height: 34px;
	display: block;
	margin: 10px auto;
	
}