body.page-about .panel {
    padding-top: 100px;
}
/**
 * profile section
 */
.timline-container {
    position: relative;
    text-align: center;
    background: #fff;
}
.timline-container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -5px; /* width / 2 */
    height: 100%;
    width: 10px;
    background: #eee;
}
.card-profile-picture {
    width: 160px;
    height: 160px;
}
.timline-container .media-round {
    border: 10px solid #eee;
}
.card-profile-picture-offset {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}
.card-profile-picture img {
    width: 160px;
    height: 160px;
}

.timeline-section {
    padding: 5px 0;
    position: relative;
}
.timeline-section-with-pic {
    padding-top: 100px;
}
.timeline-section-with-pic .media-round {
    width: 100px;
    height: 100px;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50px;
}
.timeline-section-with-pic .media-round img {
    width: 100px;
    height: 100px;
}
.timeline-section-left {
    width: 50%;
    float: left;
    margin: 18px 0;
    padding-right: 75px;
    text-align: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 31px;
}
.timeline-section-right {
    width: 50%;
    float: left;
    margin: 0;
    padding-left: 75px;
    padding-right: 100px;
    text-align: left;
}
.timeline-section-right ul {
    margin: 0;
}
.timeline-section-right .timeline-event-story {
    position: relative;
    padding: 20px 0 20px 0;
}
.timeline-event-story .timeline-event-time {
    position: absolute;
    width: 70px;
    height: 30px;
    margin-left: -110px;
    z-index: 10;
    background: #fff;
    text-align: center;
    border: 5px solid #eee;
    border-radius: 5px;
}
.timeline-event-story .timeline-event-text p {
    margin: 0;
}