body,ul{
    margin:0;
    padding:0;
}
header{
    position:relative;
    width:100%;
    min-width:980px;
    height:80px;
    background-color:#522A5C;
}
header>div{
    position:relative;
    margin:0 auto;
    width:980px;
    height:80px;
}
header>div>img{
    display:inline-block;
    width:80px;
    height:80px;
}
#header_nav,.nav_content,.nav_content li{
    display:inline-block;
}
#header_nav{
    position:absolute;
    left:732px;
    bottom:5px;
}
.nav_content>li{
    margin-left:28px;
    font-size:14px;
    text-align:center;
    color:#ffffff;
}
.nav_content>li>a{
    display:inline-block;
    text-decoration:none;
    font-family:"SimSun";
    color:#ffffff;
}
.git{
    position:absolute;
    right:10px;
    bottom:0;
    width:30px;
    /*如果去掉则与header下边有距离*/
    height:34px;
}
@media screen and (max-width:980px){
    .git{
        display:none;
    }
}
#warpper{
    width:100%;
    min-width:980px;
    background-image:url(../img/banner-bg.jpg);
    background-position-x:0;
    background-size:100% 528px;
    background-repeat:no-repeat;
}
#banner{
    position:relative;
    margin:0 auto;
    padding:0;
    width:980px;
    height:528px;
}
.banner_article{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 360px;
    height: auto;
    padding: 10px 10px 30px 10px;
    background-color: #ffffff;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}
.banner_article_title{
    display:inline-block;
    float:right;
    font-size:14px;
    padding-bottom:12px;
    color:#ffffff;
}
.banner_article>p{
    text-indent:2em;
    clear:both;
    font-size:12px;
    line-height:150%;
    color:#ffffff;
}
#content{
    float:left;
    width:100%;
    min-width:980px;
    height:420px;
    padding:10px 0 100px;
    background-color:#EEEEEE;
}
.box{
    width:980px;
    height:100%;
    margin:0 auto;
    background-color:#EEEEEE;
}
.content_article{
    float:left;
    width:320px;
    height:auto;
    margin-right:10px;
    background-color:#ffffff;
}
.article_picture{
    width:300px;
    height:180px;
    padding:10px 10px 15px;
}
.content_article>p{
    margin:0;
    padding:0 30px 25px;
    text-indent:2em;
    font-size:12px;
    line-height:170%;
}
.nomargin{
    margin-right:0px;
}
#myself{
    clear:both;
    width:980px;
    height:500px;
    margin:0 auto;

}
.myself_content{
    position:relative;
    width:160px;
    height:120px;
    margin:0 auto;
}
.my_icon{
    width:160px;
    height:160px;
    border-radius:50%;
    overflow:hidden;
    position:absolute;
    top:-50px;
}
.my_information{
    width:600px;
    margin:40px auto 0;
    background-color:#ffffff;
}
.my_information>span{
    display:inline-block;
    width:600px;
    text-align:center;
    font-size:20px;
    font-famliy:"Century Gothic";
}
.my_information>p{
    text-indent:2em;
    font-size:14px;
    line-height:170%;
    font-famliy:"Century Gothic";
}
#footer{
    clear:both;
    min-width:980px;
    height:auto;
    background-color:#000000;
}
.footer_nav{
    width:100%;
    min-width:980px;
    height:48px;
    border-bottom:1px solid #ffffff;
    background-color:#000000;
}
.footer_link{
    width:980px;
    height:320px;
    margin:0 auto;
    padding-top:36px;
    background-color:#000000;
}
#footer_nav{
    width:980px;
    margin:0 auto;
    line-height:48px;
    text-align:center;
}
.footer_li>li{
    margin:0 28px 0 28px;
}
.link{
    float:left;
    width:196px;
    margin:0;
    padding:0;
    color:#ffffff;
    list-style:none;
}
.link>li{
    height:36px;
    line-height:36px;
    text-align:center;
}
.link_title{
    height:48px;
    line-height:48px;
    margin:0 0 24px 0;
}
a{
    text-decoration:none;
    color:#ffffff;
}
#copyright{
    min-width:980px;
}
.copyright_text{
    width:980px;
    margin:0 auto;
    padding:10px 0;
    text-align:center;
    color:#ffffff;
}
#box{
    min-width:980px;
    height:1200px;
    margin:0 auto;
    padding-top:10px;
    background-color:#EEEEEE;
    padding-bottom:120px;
}
#blog_content{
    width:980px;
    height:auto;
    margin:0 auto;
}
#blog_aiticle_box{
    float:left;
    width:668px;
}
.blog_aiticle{
    position:relative;
    float:left;
    width:668px;
    height:300px;
    margin-bottom:10px;
    padding:20px 16px 30px 16px;
    background-color:#ffffff;
}
.blog_title{
    display:block;
    font-size:16px;
    line-height:170%;
    color:#A660B7;
}
.blog_title1{
    font-size:12px;
    line-height:150%;
    color:#666666;
}
.blog_aiticle>p{
    text-indent:2em;
    font-size:12px;
    line-height:150%;
}
.blog_footer{
    display:block;
    float:right;
    font-size:12px;
    line-height:150%;
    color:#666666;
}
.blog_tag{
    position:absolute;
    left:-50px;
}
.tag_content{
    display:block;
    width:50px;
    height:40px;
    font-size:18px;
    line-height:40px;
    text-align:center;
    color:#ffffff;
}
.tag_time{
    background-color:#522A5C;
}
.tag_list{
    background-color:#A660B7;
}
#blog_page{
    clear:both;
    width:700px;
    height:40px;
    margin:20px 0;
}
.page{
    margin:0;
    width:650px;
    height:40px;
    margin:0 auto;
    list-style:none;
    font-size:12px;
}
.page>li:hover{
    background-color:#A660B7;
    color:#ffffff;
}
.number{
    float:left;
    width:50px;
    height:40px;
    line-height:40px;
    text-align:center;
    margin-right:15px;
    background-color:#ffffff;
}
.choose{
    width:70px;
}
.last{
    margin:0;
}
#blog_side{
    float:right;
    width:270px;
    margin-left:10px;
}
#blog_search{
    width:230px;
    height:50px;
    margin:0;
    padding:20px;
    background-color:#ffffff;
}
.form{
    height:48px;
    margin:0;
    border:1px solid #ddd;
}
.form>input {
    float:left;
    width:178px;
    margin:0;
    height:48px;
    padding:0;
    text-indent:4em;
    border:none;
    outline:none;
    background-image:url(../img/sousuo.png);
    background-repeat:no-repeat;
    background-size:48px 48px;
}
.form>button{
    float:left;
    width:50px;
    margin:0;
    padding:0;
    height:48px;
    border-left:1px solid #ddd;
    border-right:none;
    border-top:none;
    border-bottom:none;
    font-size:20px;
    outline:none;
    background-color:#DDDDDD;
    color:#ffffff;
}
#menu{
    width:270px;
    height:220px;
    margin-top:10px;
    background-color:#fff;
}
.article_nav{
    height:55px;
    width:244px;
    border-left:6px solid #ddd;
    font-size:20px;
    line-height:54px;
    color:#666;
}
.article_nav>a{
    display:block;
    height:54px;
    width:244px;
    border-bottom:1px solid #ddd;
    font-size:20px;
    line-height:54px;
    padding-left:20px;
    color:#666;
}
.on{
    border-left:6px solid #522A5C;
}
.article_nav:hover{
    border-left:6px solid #522A5C;
}

