<div class="row">
    <div class="col s12 m6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Task title</span>
                <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a ui-sref="home">HOME</a>
                <span class="badge task-date">2015-01-21</span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="corner-btn">
        <a class="btn-floating btn-large waves-effect waves-light red" ui-sref="home"><i class="mdi-hardware-keyboard-return"></i></a>
    </div>
</div>