<div class="container new-menu">
    <div class="row">
        <a class="waves-effect waves-light btn-large new-btn" ui-sref="newCategory"><i class="mdi-action-list left"></i>Category</a>
    </div>

    <div class="row">
        <a class="waves-effect waves-light btn-large new-btn" ui-sref="newTask"><i class="mdi-action-assignment left"></i>Task</a>
    </div>

    <div class="row">
        <a class="waves-effect orange btn-large new-btn" ui-sref="home"><i class="mdi-hardware-keyboard-backspace left"></i>Return</a>
    </div>
</div>