#main-content {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 500px;
    padding: 20px 50px;
    background-color: #cde6c7;
    border: 2px solid #78a355;
}
#interval {
    font-size: 30px;
    color: #007d65;
}