* {
    margin: 0;
    padding: 0;
}
#main-content {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 500px;
    padding: 20px 50px;
    background-color: #cde6c7;
    border: 2px solid #78a355;
    position: relative;
    overflow: hidden;
}
#firstBox,
#secondBox {
    float: left;
    margin: 30px 30px;
    width: 200px;
    height: 400px;
    border: 1px solid #000;
    position: relative;
}
.item {
    width: 200px;
    height: 30px;
    border: 1px solid #000;
    background-color: #f00;
    text-align: center;
    line-height: 30px;
    position: absolute;
    cursor: move;
}
