*{
	margin:0px;
	padding: 0px;
}
body{
	background: #eeeeee;
	min-width: 980px;
}
img{
	border:none;
}
@media screen and (max-width:980px) {#git{display:none;}}
#header{
	width: 100%;
	height: 80px;
	background:#522a5c;
	position: relative;
}
#header-content{
	width: 980px;
	height: 80px;
	margin: 0 auto;
	position: relative;
}
#myLogo{
	height: 80px;
}
#menu{
	margin-bottom: 5px;
	position: absolute;
	top: 57px;
	left: 720px;
}
#menu li{
	float: left;
	font-family: "宋体";
	margin-left:28px;
	color: white;
	list-style: none;
	color: white;
}
#menu li a{
	color: white;
	text-decoration: none;
}
#git{
	position: absolute;
	top: 45px;
	right: 10px;
	margin-right: 10px;
}

#content{
	
	position: relative;
}
#bb{
	width:100%;
}
#top{
	margin-bottom: 20px;
}
#top h3{
	font-size: 14px;
	margin-left: 280px;
}
#texts{
	width: 350px;
	height: 120px;
	background: white;
	position: absolute;
	font-size: 12px;
	top: 400px;
	right: 20px;
	padding:10px 10px 30px 10px;
	line-height: 150%;
	background: -moz-linear-gradient(top, rgba(255,255,255,0.7),rgba(255,255,255,0.5) 75%,rgba(255,255,255,0)); 
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0.7)), color-stop(0.75,rgba(255,255,255,0.5)),to(rgba(255,255,255,0)));
 	background: -webkit-linear-gradient(top,rgba(255,255,255,0.7),rgba(255,255,255,0.5) 75%,rgba(255,255,255,0));/* Saf4+, Chrome */
	background: -o-linear-gradient(top, rgba(255,255,255,0.7),rgba(255,255,255,0.5) 75%,rgba(255,255,255,0));
	filter:alpha(opacity=70 finishopacity=0 style=1 startx=0,starty=0,finishx=0,finishy=350) progid:DXImageTransform.Microsoft.gradient(startcolorstr=white,endcolorstr=white,gradientType=0);
	-ms-filter:alpha(opacity=70 finishopacity=0 style=1 startx=0,starty=0,finishx=0,finishy=350) progid:DXImageTransform.Microsoft.gradient(startcolorstr=white,endcolorstr=white,gradientType=0);/*IE8*/
}
#texts h3{
	margin-bottom: 12px;
}
#texts p{
	text-indent: 2em;
	width: 330px;
}
#bottom{
	margin-top: 20px;
	width: 980px;
	margin: 0 auto;
	overflow: hidden;
}
#div1,#div2,#div3{
	float: left;
	width: 320px;
	background: white;
	margin-bottom: -10000px;
    padding-bottom: 10000px;
}
#div1,#div2{
	margin-right: 10px;
}
#bottom img{
	width: 300px;
	height: 180px;
	margin: 10px 10px 15px 10px; 
}
#bottom p{
	width:260px;
	font-size: 12px;
	line-height: 170%;
	padding: 0px 30px 25px;
	text-indent: 2em;
}
#myself{
	float: left;
	width: 100%;
	background: white;
	margin-top: 80px;
	position: relative;
	height: 522px;

}
#myself img{
	width: 160px;
	height: 160px;
	border-radius: 100%;
	position: absolute;
	top: -50px;
	left: 50%;
	margin-left: -80px;
}
#myself span{
	position: absolute;
	font-size: 20px;
	width: 200px;
	text-align: center;
	font-family: 'Cantury Gothic';
	color: black;
	left: 50%;
	margin-left:-100px;
	top:150px;	
}
#myself p{
	position: absolute;
	width: 600px;
	font-size: 14px;
	color: black;
	left: 50%;
	margin-left: -300px;
	top:200px;
	text-indent: 2em;
}
#footer{
	float: left;
	width: 100%;
	height: 394px;
	background: black;
	position: relative;
}
#footer-top{
	width: 100%;
	height: 36px;
	border-bottom: 1px solid #eeeeee;
}
#footer #list{
	width: 260px;
	height: 36px;
	position: absolute;
	left: 50%;
	margin-left:-130px;
}
#footer #list li{
	float: left;
	font-family: "宋体";
	font-size: 12px;
	margin-left:28px;
	height: 36px;
	line-height: 36px;
	color: white;
	list-style: none;
}
#footer li a{
	color: white;
	text-decoration: none;
}
#footer-bottom{
	width:1000px;
	position: absolute;
	left: 50%;
	margin-left: -500px;
}
#footer-bottom ul{
	float: left;
	margin-right: 114px;
	margin-top: 50px;
}
#footer-bottom ul li{
	width: 86px;
	height: 18px;
	font-size: 10px;
	line-height: 18px;
	text-align: center;
	margin-bottom: 5px;
	list-style: none;
}
#footer-bottom ul .first{
	margin-bottom: 15px;
	color: #cccccc;
}
#footer-bottom ul li a:hover{
	text-decoration: underline;
}
#footer-bottom  span{
	width:100px;
	text-align: center;
	height: 20px;
	position: absolute;
	left: 50%;
	margin-left: -50px;
	color: white;
	top: 260px; 
}
#f-gi img{
	width: 100px;
	height: 100px;

}
#f-git{
	position: absolute;
	width: 40px;
	height: 40px;
	left: 50%;
	margin-left: -20px;
	bottom: -120px;
}
/*************index end****************/
/**************about start*****************/
#all{
	width: 980px;
	height: 1398px;
	margin: 0 auto;
	margin-top: 102px;
	margin-bottom: 50px;
	position: relative;
}
#left{
	float: left;
	background: white;
	width: 485px;
	height: 1398px;
	margin-right: 5px;
	margin-left: 5px;
}
#right{
	float: left;
	background: white;
	width: 485px;
	height: 1398px;
}
#my-photo{
	position: absolute;
	top: 110px;
	left: 50%;
	margin-left: -75px;
	/*width: 180px;
	height: 180px;*/
	border-radius: 100%;
	background: white;
	z-index: 100;
}
#my-photo img{
	float: left;
	width: 160px;
	height: 160px;
	border-radius: 100%;
	
}
#phone{
	position: absolute;
	top: 450px;
	left: 50%;
	margin-left: -58px;
	width: 116px;
	height: 116px;
	border-radius: 100%;
	background: white;
	z-index: 100;
}
#phone img{
	float: left;
	width: 104px;
	height: 104px;
	border-radius: 100%;
	margin: 6px;
}
#study{
	position: absolute;
	top: 750px;
	left: 50%;
	margin-left: -58px;
	width: 116px;
	height: 116px;
	border-radius: 100%;
	background: white;
	z-index: 100;
}
#study img{
	float: left;
	width: 104px;
	height: 104px;
	border-radius: 100%;
	margin: 6px;
}
#work{
	position: absolute;
	top: 1100px;
	left: 50%;
	margin-left: -58px;
	width: 116px;
	height: 116px;
	border-radius: 100%;
	background: white;
	z-index: 100;
}
#work img{
	float: left;
	width: 104px;
	height: 104px;
	border-radius: 100%;
	margin: 6px;
}
#left span{
	position: absolute;
	color: black;
	font-size: 20px;
}
#name{
	top: 110px;
	left: 300px;
}
#way{
	top: 380px;
	left: 300px;
}
#edu{
	top: 680px;
	left: 300px;
}
#shixi{
	top: 1050px;
	left: 300px;
}
#right p{
	width: 300px;
	height: 150px;
	position: absolute;
	top: 110px;
	right: 80px;
	font-size:14px;
}
#number{
	width: 300px;
	height: 150px;
	position: absolute;
	top: 380px;
	right: 80px 
}
#number li{
	list-style: none;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
}
#a-content .date{
	width: 80px;
	height: 40px;
	background: url(../img/datebg.png) no-repeat;
	/*background: #eeeeee;*/
	border-radius: 15px;
	z-index: 100;
}
#a-content .date div{
	width: 70px;
	height: 30px;
	margin: 5px 5px 5px 5px;
	text-align: center;
	line-height: 30px;
	border-radius: 10px;
}
#date1{
	background: red;
	position: absolute;
	top: 900px;
	left: 50%;
	margin-left: -32px;
}
#date2{
	position: absolute;
	top: 970px;
	left: 50%;
	margin-left: -32px;
}
#date3{
	position: absolute;
	top: 1040px;
	left: 50%;
	margin-left: -32px;
}
#date4{
	position: absolute;
	top: 1250px;
	left: 50%;
	margin-left: -32px;
}
#date5{
	position: absolute;
	top: 1370px;
	left: 50%;
	margin-left: -32px;
}
#high-school{
	font-size: 14px;
	position: absolute;
	top: 900px;
	right:450px;
	height: 30px;
	line-height: 30px;
}
#college{
	font-size: 14px;
	position: absolute;
	top: 780px;
	right:250px;
	height: 30px;
	line-height: 30px;
}
#company{
	font-size: 14px;
	position: absolute;
	top: 1040px;
	right:360px;
	height: 30px;
	line-height: 30px;
}
#place1{
	width: 250px;
	font-size: 14px;
	position: absolute;
	top: 1060px;
	right:110px;
	height: 30px;
	line-height: 30px;
}
#place2{
	font-size: 14px;
	position: absolute;
	top: 1170px;
	right:175px;
	height: 30px;
	line-height: 30px;
}
/**************about end****************/
/**************blog start**********************/
#b-content{
	width: 980px;
	margin: 0 auto;
	
	background: #eeeeee;
	margin-top: 20px;
}
#b-left{
	width: 710px;
	background: #eeeeee;
	float: left;

}
#b-right{
	width: 260px;
	background: #eeeeee;
	float: right;
	background:#eeeeee;
}
#b-left .article{
	position: relative;
	width: 710px;
	height: 410px;
	margin-bottom: 10px;
	background: white;
}
#b-left .article ul{
	position: absolute;
		left: -50px;
		top: 30px;
}
#b-left .article ul li{
	width: 50px;
	height: 40px;
	list-style: none;
	text-align: center;
	line-height: 40px;
	color: white;
	cursor: pointer;
}
#b-left .article h2{
	padding-top: 30px;
	padding-left:30px;
	padding-bottom: 20px;

}
#b-left .article h4{
	margin-left: 70px;

}
#b-left .article p{
	width: 600px;
	text-indent: 2em;
	font-size: 16px;
	margin: 0 auto;
	margin-top: 30px;
}
.time{
	position: absolute;
	bottom: 15px;
	right: 10px;
	color: #cccccc;
}
#page{
	width: 100%;
	background: #eeeeee;
	margin-left:60px;
	margin-bottom: 332px;
}
#page li{
	float: left;
	width: 11px;
	height: 6px;
	font-size: 14px;
	background: white;
	list-style: none;
	margin-right: 10px;
	text-align: center;
	line-height: 6px;
	padding: 15px;

}
#page .select{
	background: purple;
}
#page .select a{
	color: white;
}
#page .long{
	width: 42px;
}
#page li a{
	text-decoration: none;
	color: black;
	font-size: 11px;
}
#page #point{
	width: 35px;

}
#ipt{
	float: left;
	width: 260px;
	height: 82px;
	background: white;
	margin-bottom: 20px;

}
.search{
	float: left;
	color: #dddddd;
	width: 170px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #cccccc;
	margin: 20px 0px 20px 20px;
}
.search div{
	float: left;
	width: 40px;
	height: 40px;
}
.search div img{
	width: 40px;
	height: 40px;
}
.search span{
	float: left;
}
#click{
	float: left;
	width: 50px;
	height: 42px;
	line-height: 40px;
	text-align: center;
	color: white;
	background: #dddddd;
	cursor: pointer;
	font-size: 26px;
	margin-top:20px; 
}
#b-list{
	float: left;
	background: #eeeeee;
	margin-bottom:20px;
}
#b-list li{
	width: 260px;
	height: 49px;
	margin-bottom: 1px;
	list-style: none;
	background:white;
	cursor: pointer;
}
#b-list li span{
	float: left;
	width: 260px;
	height: 49px;
	margin-bottom: 1px;
	margin-top: 1px;
	background:#dfc6e6;
}
#b-list li div{
	float: right;
	background: white;
	width: 235px;
	height: 49px;
	margin-bottom: 1px;
	line-height: 49px;
	font-size: 20px;
	padding-left: 20px;
}
#b-list span:hover{
	background: #522a5c;
}
.calendar{
	float: left;
	width: 260px;
	height: 260px;
	margin-bottom: 20px;
	background: white;
}
.calendar table{
	width: 240px;
	height: 240px;
	margin: 0 auto;
	text-align: center;
}
.calendar table td{
	cursor: pointer;
}

#tags{
	width: 260px;
	height: 210px;
	background: white;
	float: left;
}
#tags a{
	float:left;
	text-decoration: none;
	color: #cd60bd;
	margin: 5px;
	height: 28px;
	line-height: 28px;
}
.js{
	font-size: 30px;
}
.css{
	font-size: 20px;
}
.flex{
	font-size: 10px;
}
.html{
	font-size: 30px;
}
.canvas{
	font-size: 20px;
}
.html5{
	font-size: 24px;
}
.nj{
	font-size: 18px;
}
.JQ{
	font-size: 30px;
}
.EC{
	font-size: 30px;
}
/**************blog end************************/
/**************gallery start******************************/
#g-content{
	width: 980px;
	margin: 0 auto;
	background: #eeeeee;
	margin-top: 110px;
}
#g-left{
	width: 710px;
	height: 760px;
	background: white;
	float: left;
	position: relative;
	float: left;
	margin-bottom: 30px;

}
#g-right{
	width: 260px;
	background: #eeeeee;
	float: right;
}
#g-left ul{
	position: absolute;
	top: -85px;
	left: 0px;
}
#g-list li{
	float: left;
	height: 60px;
	list-style: none;
	background:red;
	cursor: pointer;
	margin-right: 2px;
}
#g-list li span{
	float: left;
	height: 50px;
	background:#dfc6e6;
}
#g-list li div{
	margin-top: 4px;
	background: white;
	height: 46px;
	line-height: 46px;
	font-size: 14px;
	padding: 15px 20px 20px 20px;
}
#g-list span:hover{
	background: orange;
}
#g-right p{
	margin: 10px;
}
#g-right ul{
	width: 200px;
	margin: 0 auto;
	margin-top: 20px;
}
#g-right ul li{
	color: white;
	list-style: none;
	width: 200px;
	height: 20px;
	margin-bottom: 15px;
}
#g-right .num{
	float: left;
	width: 20px;
	height: 20px;
	border-radius:100%;
	background: #522a5c;
	text-align: center;
	line-height: 20px; 
}
#g-right .name{
	color: black;
	float: right;
	width: 70px;
	text-align: center;
	height: 20px;
}
#g-right .level1{
	float: left;
	width:106px;
	margin-left: 2px;
	border: 1px solid black;
	height: 20px;
	background: white;

}
#level2-1{
	float: left;
	width: 106px;
	height:20px;
	background:#522a5c;
}
#level2-2{
	float: left;
	width: 80px;
	height:20px;
	background:#522a5c;
}
#level2-3{
	float: left;
	width: 50px;
	height:20px;
	background:#522a5c;
}
#level2-4{
	float: left;
	width: 30px;
	height:20px;
	background:#522a5c;
}
.more{
	float: left;
	width: 710px;
	height: 40px;
	background: white;
	margin-bottom: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}
/************瀑布流 start******************/
/*********若用JS则动态获得图片宽高*************/
.g1{
	position: absolute;
	width:330px;
	height:220px;
	top:20px;
	left:20px;
}
.g1 img{
	width:330px;
	height:220px;
}
.g1 span{
	position: absolute;
	top: 120px;
	left: 0px;
	width: 330px;
	height:100px;

}
.g1 h3{
	margin-top: 20px;
	margin-left: 80px;
}
.g1 p{
	width: 240px;
	height: 30px;
	margin-left: 80px;
}
.g2{
	position: absolute;
	width:160px;
	height:186px;
	top:20px;
	left:360px;
}
.g2 img{
	width:160px;
	height:186px;
}
.g2 span{
	position: absolute;
	top: 120px;
	left: 0px;
	width: 160px;
	height:65px;

}
.g2 h3{
	margin-top: 20px;
	margin-left: 40px;
}
.g2 p{
	width: 100px;
	height: 20px;
	margin-left: 40px;
}
.g3{
	position: absolute;
	width:160px;
	height:206px;
	top:20px;
	left:530px;
}
.g3 img{
	width:160px;
	height:206px;
}
.g3 span{
	position: absolute;
	top: 120px;
	left: 0px;
	width: 160px;
	height:106px;

}
.g3 h3{
	margin-top: 20px;
	margin-left: 40px;
}
.g3 p{
	width: 120px;
	height: 60px;
	margin-left: 40px;
}
.g4{
	position: absolute;
	width:160px;
	height:206px;
	top:250px;
	left:20px;
}
.g4 img{
	width:160px;
	height:206px;
}
.g4 span{
	position: absolute;
	top: 120px;
	left: 0px;
	width: 160px;
	height:106px;

}
.g4 h3{
	margin-top: 20px;
	margin-left: 40px;
}
.g4 p{
	width: 120px;
	height: 60px;
	margin-left: 40px;
}
.g5{
	position: absolute;
	width:160px;
	height:184px;
	top:250px;
	left:190px;
}
.g5 img{
	width:160px;
	height:184px;
}
.g5 span{
	position: absolute;
	top: 120px;
	left: 0px;
	width: 160px;
	height:65px;

}
.g5 h3{
	margin-top: 20px;
	margin-left: 40px;
}
.g5 p{
	width: 100px;
	height: 20px;
	margin-left: 40px;
}
.g6{
	position: absolute;
	width:160px;
	height:206px;
	top:214px;
	left:360px;
}
.g6 img{
	width:160px;
	height:206px;
}
.g6 span{
	position: absolute;
	top: 120px;
	left: 0px;
	width: 160px;
	height:106px;

}
.g6 h3{
	margin-top: 20px;
	margin-left: 40px;
}
.g6 p{
	width: 120px;
	height: 60px;
	margin-left: 40px;
}
.g7{
	position: absolute;
	width:160px;
	height:256px;
	top:256px;
	left:530px;
}
.g7 img{
		width:160px;
	height:256px;
}
.g7 span{
	position: absolute;
	top: 120px;
	left: 0px;
	width: 160px;
	height:136px;

}
.g7 h3{
	margin-top: 20px;
	margin-left: 40px;
}
.g7 p{
	width: 120px;
	height: 60px;
	margin-left: 40px;
}
.g8{

	position: absolute;
	width:160px;
	height:160px;
	top:486px;
	left:20px;
}
.g8 img{
	width:160px;
	height:160px;
}
.g8 span{
	position: absolute;
	top: 120px;
	left: 0px;
	width: 160px;
	height:106px;

}
.g8 h3{
	margin-top: 20px;
	margin-left: 40px;
}
.g8 p{
	width: 120px;
	height: 60px;
	margin-left: 40px;
}
.g9{
	position: absolute;
	width:160px;
	height:206px;
	top:444px;
	left:190px;
}
.g9 img{
width:160px;
	height:206px;
}
.g9 span{
	position: absolute;
	top: 120px;
	left: 0px;
	width: 160px;
	height:106px;

}
.g9 h3{
	margin-top: 20px;
	margin-left: 40px;
}
.g9 p{
	width: 120px;
	height: 60px;
	margin-left: 40px;
}
.g10{
	position: absolute;
	width:160px;
	height:186px;
	top:460px;
	left:360px;
}
.g10 img{
	width:160px;
	height:186px;
}
.g10 span{
	position: absolute;
	top: 120px;
	left: 0px;
	width: 160px;
	height:65px;

}
.g10 h3{
	margin-top: 20px;
	margin-left: 40px;
}
.g10 p{
	width: 100px;
	height: 20px;
	margin-left: 40px;
}
/*************瀑布流 end****************************/
/****************gallery end*****************************/






