#main{
    width: 100%;
    min-width: 980px;
    height: auto;
    background: #eee;
    padding: 20px 0 150px;
}
#content{
    width: 980px;
    min-width: 980px;
    margin: 0 auto;
}
#content:after{
    content: '\200b';
    height: 0;
    display: block;
    clear: both;
    zoom: 1;
}
#articles-wrap{
    width: 670px;
    margin-right: 10px;
    float: left;
}
article{
    width: 100%;
    background: #fff;
    padding: 20px;
    margin-bottom: 10px;
    position: relative;
}
article h2{
    font-size: 16px;
    color: #a660b7;
    margin: 5px 0;
}
article h3{
    font-size: 12px;
    color: #666;
    margin: 10px 0 20px;
}
.post-content{
    margin-bottom: 50px;
}
.post-content p{
    margin: 5px 0;
    font-size: 12px;
    line-height: 1.5em;
}
.post-info{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #999;
    font-size: 12px;
}
.post-tag{
    position: absolute;
    left: -50px;
    top: 20px;
}
.date,.tag{
    width: 50px;
    height: 40px;
    display: block;
    position: relative;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
}
.date{
    background-color: #522a5c;
}
.tag{
    background-color: #a660b7;
}
#foot-index{
    width: 558px;
    margin: 0 auto;
}
#foot-index li{
    margin: 0 5px;
    float: left;
}
#foot-index li a{
    color: #000;
    background-color: #fff;
    display: block;
    padding: 15px;
    font-size: 12px;
}
#foot-index li a:hover,#foot-index li .active{
    background-color: #a660b7;
    color: #fff;
}
#pendant{
    width: 260px;
    float: right;
}
#search{
    padding: 20px;
    width: 220px;
    background-color: #fff;
}
#search form{
    position: relative;
}
#search img{
    position: absolute;
    top: 1px;
    left: 1px;
}
#keyword{
    height: 40px;
    padding-left: 43px;
    width: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#search-btn{
    height: 38px;
    background-color: #ccc;
    color: #fff;
    width: 50px;
    position: absolute;
    top: 1px;
    right: 1px;
    border: 1px solid transparent;
}
#classify{
    width: 260px;
    margin-top: 10px;
}
#classify li{
    border-left: 4px solid #dfc6e6;
}
#classify li a{
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    font-size: 12px;
    color: #666;
    padding: 18px;
    display: block;
    background-color: #fff;
}
#classify li:last-child a{
    border-bottom: 1px solid #ccc;
}
#classify li:hover{
    border-left: 4px solid #522a5c;
}
#calendar{
    margin-top: 10px;
    background-color: #fff;
    padding: 20px;
    font-size: 14px;
    color: #999;
}
#calendar td{
    padding: 7px;
    text-align: center;
}
#calendar tbody td:hover{
    background-color: #773c88;
    color: #fff;
}
#calendar thead tr:first-child{
    color: #773c88;
    border-bottom-color: #fff;
}
#tags{
    padding: 20px;
    color: #773c88;
    font-family: serif;
    margin-top: 10px;
    background-color: #fff;
}
#tags h4{
    color: #666;
    font-size: 12px;
}
#tags-container{
    margin: 10px 0;
}
#tags-container .big{
    font-size: 24px;
    font-weight: bold;
}
#tags-container .middle{
    font-size: 14px;
    font-weight: bold;
}
#tags-container .normal{
    font-size: 12px;
}