#main{
    width: 100%;
    min-width: 980px;
    height: auto;
    background: #eee;
    padding: 50px 0 150px;
}
#content{
    width: 980px;
    min-width: 980px;
    margin: 0 auto;
}
#content:after{
    content: '\200b';
    height: 0;
    display: block;
    clear: both;
    zoom: 1;
}
#content-wrapper{
    float: left;
    width: 710px;
    margin-right: 10px;
}
#gallery{
    background-color: #fff;
    padding: 15px;
}
#gallery:after{
    content: '\200b';
    height: 0;
    display: block;
    clear: both;
    zoom: 1;
}
.gallery-cols{
    width: 160px;
    margin: 5px;
    float: left;
}
.gallery-item{
    background-color: #a660b7;
    margin: 10px 0;
}
.gallery-item img{
    width: 100%;
}
.item-des{
    padding: 10px 10px 10px 50px;
    color: #fff;
}
.gallery-item h5{
    font-size: 14px;
}
.gallery-item p{
    font-size: 12px;
    margin-top: 5px;
    text-indent: 0;
}
#tabs ul:after{
    content: '\200b';
    height: 0;
    display: block;
    clear: both;
    zoom: 1;
}
#tabs li{
    float: left;
    border-top: 4px solid transparent;
    background-color: #dfc6e6;
}
#tabs li:nth-child(2){
    background-color: #522a5c;
 }
#tabs li:nth-child(3){
    background-color: #5900b2;
}
#tabs li:nth-child(4){
    background-color: #8c2300;
}
#tabs li:nth-child(5){
    background-color: #d9a300;
}
#tabs li a{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    color: #999;
    display: inline-block;
    padding: 15px 20px 20px;
}
#tabs li a:hover{
    position: relative;
    top: -4px;
    border-bottom-style: none;;
}
#tabs li a.active{
    border-bottom-color: #fff;
}
#tabs li:last-child a{
    border-right-style: none;
}
#load-more{
    text-align: center;
    height: 50px;
    margin: 10px 0;
    background-color: #fff;
}
#load-more a{
    line-height: 50px;
    color: #999;
    font-size: 12px;
}
#load-more a img{
    position: relative;
    top: 5px;
    margin-right: 10px;
    border: none;
}
#pendant{
    width: 260px;
    float: right;
}
#search{
    padding: 20px;
    width: 220px;
    background-color: #fff;
}
#search form{
    position: relative;
}
#search img{
    position: absolute;
    top: 1px;
    left: 1px;
}
#keyword{
    height: 40px;
    padding-left: 43px;
    width: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#search-btn{
    height: 38px;
    background-color: #ccc;
    color: #fff;
    width: 50px;
    position: absolute;
    top: 1px;
    right: 1px;
    border: 1px solid transparent;
}
#ranking-list{
    padding: 10px;
    margin-top: 10px;
    background-color: #fff;
    color: #666;
}
#ranking-list h4{
    font-size: 14px;
    font-family: serif;
}
#ranking-list li span{
    display: inline-block;
    color: #fff;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: #522a5c;
    color\0:#666;
    background-color\0:#fff;
}
#ranking-list li{
    height: 16px;
    margin: 14px 0;
}
.list-item{
    border: 1px solid #522a5c;
    display: inline-block;
    height: inherit;
    width: 100px;
    margin: 0 5px;
    vertical-align: middle;
}
.list-bar{
    display: inline-block;
    height: inherit;
    background-color: #522a5c;
}