/*--------main--------*/
#banner{
    position: relative;
}
#banner-pic{
    width: 100%;
    height: auto;
    min-width: 980px;
}
#banner-wrapper{
    width: 980px;
    margin: 0 auto;
    position: relative;
}
#banner-describe{
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,
    rgba(255,255,255,0.3) 75%,
    rgba(255,255,255,0) 100%);
    width: 360px;
    height: 120px;
    padding: 10px 10px 30px;
    color: #fff;
    right: 0;
    bottom: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#77ffffff,endcolorstr=#00ffffff);
}
#banner-describe h3{
    font-size: 14px;
    margin-bottom: 12px;
    text-align: right;
}
#banner-describe p{
    font-size: 12px;
    line-height: 150%;
}
#post-show{
    width: 100%;
    background-color: #eee;
    min-width: 980px;
    padding-bottom: 100px;
}
#post-wrap{
    margin-right: -10px;
}
#post-show-wrapper{
    width: 980px;
    margin: 0 auto;
    padding: 10px 0 0;
    overflow: hidden;
}
#post-show-wrapper:after{
    content: "\200B";
    height: 0;
    display: block;
    clear: left;
    zoom: 1;
}
.recent-posts{
    width: 300px;
    background-color: #fff;
    color: #000;
    padding: 10px 10px 1000px;
    float: left;
    margin-bottom: -1000px;
    margin-right: 10px;
}
.recent-posts>img{
    width: 300px;
    height: 180px;
}
.recent-posts>p{
    margin: 15px 20px 15px;
    font-size: 12px;
    line-height: 170%;
}
#self-intro{
    background-color: #fff;
    width: 100%;
}
#self-intro-wrapper{
    width: 980px;
    margin: 0 auto;
    padding: 160px 0;
    position: relative;
}
#self-intro-wrapper h3{
    font-size: 20px;
    font-family: "Century Gothic";
    color: #000;
    text-align: center;
    margin: 30px 0;
}
#self-intro-wrapper p{
    font-size: 14px;
    width: 600px;
    margin: 0 auto;
    line-height: 2em;
}
#myself{
    width: 160px;
    height: 160px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: -50px;
}