/*
 * scaffolding.less
 *
 * @desc: 网站基础样式
 */

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    color: @gray;
    font-size: @default-font-size;
    font-family: @default-font-family;
}

a {
  color: inherit;
  *color: @gray;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: inherit;
  font-weight: normal;
  color: inherit;
  font-size: 100%;
}

ul,
ol {
  list-style: none;
}

button,
input,
select,
textarea {
  border-color: #777;
}

blockquote {
  padding-left: 10px;
  border-left: 2px solid #ccc;
  margin: 6px 0;
}

