/*通用部分*/
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input {
    margin:0;
    padding:0;
}
.left {
    float: left;
}
.right {
    float: right;
}
.comWidth {
    width: 980px;
    margin: 0 auto;
}
body {
    min-width: 980px;
    font-size: 14px;
    background: #EEEEEE;
    position: relative;
}

.hr20 {
    height: 20px;
}
/*头部导航区域*/
.header {
}
.nav-top-inner {
    position: relative;
    overflow: hidden;
    background: #522A5C;
    z-index: 3;
}
.nav-top {
    height:80px;
    background:#522A5C;
}

.nav-banner {
    height: 525px;
    background: url("../img/banner-bg.jpg") center center no-repeat;
}
.my-logo, .logo-size {
    width: 60px;
    height: 60px;
}
.my-logo {
    float: left;
    margin-top: 10px;
    margin-left: 20px;
}
.nav-list {
    float: right;
    margin-right: 100px;
}

.nav-ul {
    list-style: none;
}
.nav-ul li {
    float: left;
    width: 50px;
    text-align: center;
}
.nav-ul li a {
    text-decoration: none;
    color: #fff;
}
.nav-list .nav-ul li a {
    line-height: 80px;
}
.github-logo, .github-logo img {
    width: 34px;
    height: 34px;
}
.github-logo {
    position: absolute;
    z-index: 2;
    right:20px;
    top: 20px;
}

.nav-content {
    height: 100%;
    position: relative;
}
.nav-banner .nav-content-inner, .nav-banner .nav-content-inner-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 350px;
    height: 120px;
    padding: 0 5px;
    color: #fff;
    /*
    background: rgba(255,255,255,0.2);
    */

}
.nav-banner .nav-content-inner {
    z-index: 10;
}
.nav-banner .nav-content-inner-bg {
    z-index: 9;
    background: #fff;
    opacity: 0.2;
    filter: Alpha(opacity=20);
}
.nav-banner .nav-content-inner h3 {
    text-align: right;
    margin: 5px 0;
    display: block;
}
.nav-banner .nav-content-inner p {
    font:12px/16px "宋体";
    text-indent: 2em;
}

/*中间图文部分*/
.index-main {
    position: relative;
    margin-top: 10px;
    display: block;
    overflow: hidden;
    margin-bottom: 110px;
}
.main-list {
    padding: 10px;
    background: #fff;
    width: 300px;
    float: left;
    height: 100%;
    margin: 0 3px;
    padding-bottom: 3277px !important;
    margin-bottom: -3277px !important;
    display: inline;
}
.main-list .main-list-img img, .main-list .main-list-img{
    width:300px;
    display: block;
}
.main-list p {
    display: block;
    padding: 5px;
    text-indent: 2em;
}

/*userino部分*/

.user-info-bg {
    background: #fff;
}
.user-info {
    text-align: center;
    position: relative;
    padding: 80px 0 180px;
}
.user-info .user-info-logo {
    width: 160px;
    height: 160px;
    border-radius: 160px;
    background: url("../img/userlogo.png") left top no-repeat;
    position: absolute;
    left: 410px;
    top: -80px;
}
.user-info h3 {
    line-height: 30px;
    font-size: 20px;
    padding: 30px 0;
}
.user-info p {
    width: 600px;
    margin: 0 auto;
    font-size: 14px;
    text-align: left;
    text-indent: 2em;
    line-height: 20px;
}


/*footer部分*/
.index-footer {
    background: #000;
}
.index-footer-nav {
    height:35px;
    text-align: center;
}

.index-footer-nav .nav-ul {
    display: inline;
    overflow: auto;
    text-align: center;
}
.index-footer-nav .nav-ul li {
    display: inline;
    float:none;
}
.index-footer-nav .nav-ul li a {
    width:100px;
    height:35px;
    line-height: 35px;
    display: inline-block;
}
.index-footer-content {
    height: 330px;
    border-top: #333333 solid 1px;
}
.footer-link .footer-link-list {
    list-style: none;
    display: inline-block;
    margin-top: 25px;
}

.footer-link .footer-link-list a {
    color: #fff;
    text-decoration: none;
}
.footer-link .footer-link-list .link-li-list {
    width: 200px;
    padding-left: 45px;
    float: left;
}
.footer-link .link-li-list h3 a{
    line-height: 45px;
    font-size: 14px;
    color: #eee;
}
.footer-link .link-li-list h3 a:hover{
    color:#888;
}
.footer-link .link-li-list .link a {
    font-size: 12px;
}
.footer-link .link-li-list .link a:hover {
    color: #999;
}

.footer-copyright {
    color: #fff;
    margin: 0 auto;
    text-align: center;
}
.footer-copyright p {
    line-height: 20px;
    padding-bottom: 10px;
}