* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    height: 100%;
}
body {
    font-size: 1.4rem;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

section {
    width: 105%;
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s; 
    -o-transition: all 0.4s;
    height: inherit;
    display: table;
}
aside {
    width: 5%;
    display: table-cell;
}
#section-cate{
    position: absolute;
    left: 0;
    z-index: 3;
    overflow: hidden;
    background-color: #f23;

}
    #category {
        width: 95%;
        float: left;
        
    }

#section-task {
    position: absolute;
    left: 100%;
    z-index: 2;
    overflow: hidden;
    background-color: #2f4;
}
    #task {
        width: 95%;
        float: left;
        padding-left: 7%;
        box-sizing: border-box;
    }

#section-detail{
    position: absolute;
    left: 200%;
    z-index: 1;
    overflow: hidden;
    background-color: #23f;
}

    #task-detail {
        width: 95%;
        padding-left: 7%;
        position: absolute;
        float: left;
        box-sizing: border-box;
    }