body{
	font-family: Microsoft Yahei, sans-serif;
	background-color: lightgreen;
}

h1{
	color: blue;
}

h2{
	font-size: 14px;
	text-align: center;
}

p{
	font-size: 12px;
	color: yellow;
	background-color: black;
	text-indent: 20px;
	word-spacing: 20px;
	white-space: pre-wrap; /*自动换行*/
	line-height: 200%;
	font-weight: bold;
}

img{
	border: 2px solid red;
	height: 200px;
}

ul{
	text-transform: uppercase;
}

span{
	text-decoration: underline;
}

#DIV-center{
	background-color: red;
	width: 960px;
	/*margin: 0 auto;*/
	/*方法一*/ 
	position: absolute;
	left: 50%;
	margin-left: -480px;
	border-radius: 10px;
	text-align: center;
}

#DIV-A{
	background-color: red;
	width: 100px;
	/*方法一*/
	/*position: absolute;*/
	float: left;
}

#DIV-B{
	background-color: blue;
	margin-left: 100px;
}

#DIV-C{
	background-color: yellow;
}

.main{
	background-color: lightgrey;
	float: left;
	width: 100%;
}

.main-wrap{
	margin-left: 50px;
	margin-right: 100px;
}
.sub{
	background-color: orange;
	float: left;
	width: 50px;
	margin-left: -100%;
}

.extra{
	background-color: lightblue;
	float: left;
	width: 100px;
	margin-left: -100px;
}

.float-div{
	width: 100px;
	height: 50px;
	background-color: green;
	float: left;
	margin: 10px;
}