
* {
    padding:0px;
    margin:0px;
    color:rgb(92, 91, 91);
}
.nav {
    position:fixed;
    width:100%;
    height:80px;
    background-color:rgba(114, 51, 139, 1);
    z-index:1;
}
.nav-center {
    width:980px;
    height:50px;
    margin:25px auto 5px auto;
    background-color:inherit;
}
.mylogo { 
    float:left;
    width:150px;
    height:50px;
    background-color:rgba(255, 255, 255, 0.4);
}
.nav-ul {
    float:right;
    margin-top:33px;
    list-style-type:none;
}
.nav-li {
    display:inline;
    margin-left:28px;
}
.nav-a {
    font-size:14px;
    color:white;
    font-family:SimSun;
    text-decoration:none;
}
.github {
    position:relative;
    float:right;
    width:30px;
    height:34px;
    margin-top:-34px;
    margin-right:10px;
}
.banner {
    position:relative;
    top:80px;
    width:100%;
    height:500px;
    background:url("../img/banner-bg.jpg");
    background-size:cover;/*TODO  IE兼容问题*/
}
.banner-reading {
    position:relative;
    width:400px;
    top:380px;
    left:735px;
    background-color:rgba(255, 255, 255, 0.20);
    padding:10px 10px 30px 10px;
    /*TODO渐变*/
}
.p-title {
    color:white;
    text-align:right;
    font-size:14px;
    margin-bottom:12px;
}
.p-article {
    color:white;
    font-size:12px;
    line-height:150%;
    text-indent:2em;
}
.footer {
    position:relative;
    top:80px;
    width:100%;
    background-color:black;
}
.footer-nav-ul {
    list-style-type:none;
    padding:10px;
    border-bottom:1px solid rgba(255, 255, 255, 0.18);
    text-align:center;
}
.footer-nav-li {
    margin:0 10px;
    display:inline;
}
.footer-nav-a {
    color:white;
    font-size:12px;
    text-decoration:none;
}
.footer-link {
    height:200px;
    padding: 40px 0;
    margin: auto;
    width: 65%;
}
.footer-link-part {
    float:left;
    width:20%;
}
.footer-link-title {
    color:white;
    margin-bottom:20px;
    font-size:10px;
}
.footer-link-ul {
    list-style-type:none;
}
.footer-link-li {
    padding:5px 0px;
}
.footer-link-a {
    color:white;
    font-size:10px;
}
.footer-copyright {
    text-align:center;
}
.copyright {
    color:white;
    font-size:12px;
    margin-bottom:15px;
}
.content {
    background-color: rgb(224, 223, 224);
    position:relative;
    top:80px;
    padding-top:10px;
}
/*index*/
.content-section {
    display:-webkit-box;
    margin: auto;
    padding-bottom:100px;
    width:980px;
}
.content-section-part {
    width:320px;
    background-color:white;
}
#section-middle-part {
    margin:0px 10px;
}
.section-part-pic {
    width:300px;
    height:180px;
    margin:10px 10px 15px 10px;
    background-color:purple;
}
.section-part-read {
    font-size:12px;
    color:black;
    text-indent:2em;
    line-height:170%;
    padding:0px 30px 25px 30px;
}
.content-author {
    height:400px;
    background-color:white;
    padding-bottom:100px;
    text-align:center;
}
.author-photo {
    width:160px;
    height:160px;
    background-color:blue;
    display:inline-block;
    margin-top:-50px;
    border-radius:100px;
    overflow:hidden;
}
.author-name {
    color:black;
    font-size:20px;
    font-family:Century Gothic;
    margin-top:50px;
}
.author-introduction {
    color:black;
    font-size:14px;
    width:600px;
    text-indent:2em;
    margin:40px auto;
    text-align:left;
}
/*blog*/
.content-center {
    display:table;
    width:1080px;
    margin:auto;
    padding-bottom:200px;
}
.content-center-main {
    float:left;
    margin-right:10px;
}
.content-center-aside {
    width:270px;
    height:700px;
    float:right;
    margin-right:50px;
}
.blog {
    display:table;
    margin-bottom:10px;
}
.blog-tag {
    width:50px;
    float:left;
    padding-top:20px;
}
.blog-tag-date {
    width:100%;
    height:35px;
    line-height:35px;
    text-align:center;
    background-color:rgb(124, 20, 147);
    color:white;
}
.blog-tag-keyword {
    width:100%;
    height:35px;
    line-height:35px;
    text-align:center;
    background-color:rgba(106, 61, 161, 0.79);
    color:white;
}
.blog-content {
    width:660px;
    min-height:350px;
    background-color:white;
    float:right;
    text-align:left;
    padding:20px;
}
.blog-title {
    color:purple;
    font-size:16px;
    margin-bottom:8px;
}
.blog-subtitle {
    color:black;
    font-size:12px;
    margin-bottom:10px;
}
.blog-body {
    color:black;
    font-size:10px;
    text-indent:2em;
}
.blog-page {
    height:50px;
    padding-left:50px;
}
.blog-page-ul {
    list-style-type:none;
    padding:10px 0px;
    text-align:center;
}
.blog-page-li {
    display:inline-block;
    text-align: center;
    margin: 0 5px;
    padding: 8px 15px;
    line-height: 12px;
    background-color:white;
    color:black;
}
/*TODO 当前页背景色*/
.blog-page-li:hover {
    background-color:purple;
    color:white;
}
.blog-page-a {
    text-decoration:none;
    font-size:12px;
    color:inherit;
}
#form-search {
    height: 40px;
    background-color: white;
    padding: 20px;
}
#input-search {
    float:left;
    width:130px;
    height:36px;
    color:rgba(134, 123, 134, 0.25);
    background:url("../img/magnifier.png") no-repeat 3px;
    padding-left:46px;
}
#input-search:focus {
    outline:none;
    color:rgba(134, 123, 134, 0.88);
}
#input-button {
    float:right;
    width:50px;
    height:40px;
    border:none;
    color:white;
    font-size:18px;
    background-color:rgba(134, 123, 134, 0.25);
}
#input-button:focus {
    background-color:rgba(45, 37, 45, 0.39);
    outline:none;
}
.blog-category {
    width:270px;
    background-color:blue;
    margin-top:10px;
    list-style-type:none;
}
.blog-category-li {
    padding:20px;
    border-bottom:1px solid rgba(134, 123, 134, 0.55);
    border-left:5px solid rgba(62, 15, 121, 0.28);
    background-color:white;
}
.blog-category-li:hover {
    border-left-color:rgba(132, 43, 157, 0.77);
}
.blog-category-a {
    color:rgba(134, 123, 134, 0.88);
    font-size:12px;
    text-decoration:none;
}
#calendar {
    width:230px;
    height:200px;
    padding:20px;
    background-color:white;
    margin-top:10px;
}
#calendar-head {
    width:230px;
    height:20px;
}
#calendar-backward {
    float:left;
    height:20px;
    width:35px;
    text-align:center;
}
#calendar-foreward {
    float:right;
    height:20px;
    width:35px;
    text-align:center;
}
.calendar-head-a {
    color:purple;
    font-size:12px;
    text-decoration:none;
}
#calendar-head-date {
    width:160px;
    height:20px;
    padding:0 35px;
    text-align:center;
}
.calendar-date-ul {
    width:210px;
    padding:8px 10px;
    height:16px;
    list-style-type:none;
    border-bottom:1px solid rgba(134, 123, 134, 0.55);
}
.calendar-date-li {
    width:30px;
    float:left;
    padding:2px 0px;
    text-align:center;
}
.calendar-date-li:hover {
    background-color:purple;
}
.calendar-date-a {
    color:black;
    font-size:12px;
    text-decoration:none;
    color:rgba(134, 123, 134, 0.88);
}
.calendar-date-a:hover {
    color:white;
}
.tags {
    width:230px;
    height:200px;
    padding:20px;
    background-color:white;
    margin-top:10px;
}
.tags-head {
    width:230px;
    color:rgba(134, 123, 134, 0.88);
    font-size:16px;
}
.tags-body {
    width:230px;
    margin-top:20px;
}
.tags-24px {
    display:inline-block;
    padding:5px;
    color:rgb(116, 17, 116);
    font-size:24px;
}
.tags-18px {
    display:inline-block;
    padding:5px;
    color:rgb(153, 104, 158);
    font-size:18px;
}
.tags-10px {
    display:inline-block;
    padding:5px;
    color:rgb(144, 99, 221);
    font-size:10px;
}
.tags-12px {
    display:inline-block;
    padding:5px;
    color:black;
    font-size:12px;
}
/*gallery*/
.center {
    display:table;
    position:relative;
    width:980px;
    margin:10px auto 0px auto;
    padding-bottom:50px;
}
.main {
    width:700px;
    float:left;
    margin-right:10px;
}
.aside {
    width:270px;
    float:right;
    padding-top:57px;
}
#ranking {
    width:250px;
    height:250px;
    background-color:white;
    padding:10px;
    margin-top:10px;
}
#ranking-head {
    font-size:16px;
    color:rgb(107, 102, 102);
    margin-bottom:30px;
    margin-top:10px;
}
.ranking-ul {
    list-style-type:none;
}
.ranking-li {
    height:20px;
    margin-bottom:15px;
}
.ranking-number {
    display:block;
    float:left;
    width:20px;
    line-height:20px;
    border-radius:100px;
    font-size:12px;
    color:white;
    text-align:center;
    background-color:purple;
    margin-right:12px;
}
.ranking-bar {
    display:block;
    float:left;
    border:1px solid black;
    width:100px;
    height:18px;
}
.ranking-bar-1 {
    display:block;
    float:left;
    background-color:purple;
    height:18px;
}
.ranking-bar-2 {
    display:block;
    float:left;
    background-color:white;
    height:18px;
}
.ranking-name {
    display:block;
    float:left;
    font-size:14px;
    height:14px;
    padding-top:6px;
    margin-left:12px;
    color:black;
}
#ranking-1-1 {
    width:100%;
}
#ranking-1-2 {
    width:0%;
}
#ranking-2-1 {
    width:85%;
}
#ranking-2-2 {
    width:15%；
}
#ranking-3-1 {
    width:70%;
}
#ranking-3-2 {
    width:30%;
}
#ranking-4-1 {
    width:40%;
}
#ranking-4-2 {
    width:60%;
}
#ranking-5-1 {
    width:20%;
}
#ranking-5-2 {
    width:80%;
}
.tab-head {
    display:table;
    width:100%;
    list-style-type:none;
}
.tab-head-li {
    float:left;
    padding:15px 20px 20px 20px;
    border-top:5px solid;
    border-bottom:1px solid rgb(224, 223, 224);
    background-color:white;
    margin-right:1px;
    cursor:pointer;
}
.tab-head-li:hover {
    border-bottom-color:white;
}
#tab-head-li-1 {
    border-top-color:rgb(203, 154, 203);
}
#tab-head-li-2 {
    border-top-color:rgb(86, 14, 128);
}
#tab-head-li-3 {
    border-top-color:rgb(80, 19, 157);
}
#tab-head-li-4 {
    border-top-color:rgb(139, 11, 11);
}
#tab-head-li-5 {
    border-top-color:rgb(190, 143, 19);
}
.tab-head-a {
    font-size:13px;
    color:rgb(137, 132, 132);
}
.tab-body {
    display:table;
    width:660px;
    padding:10px 20px 30px 20px;
    background-color:white;
}
.tab-body-part {
    float:left;
    width:326px;
}
.part-left {
    margin-right:4px;
}
.part-right {
    margin-left:4px;
}
.part-branch {
    float:left;
    width:159px;
}
.branch-left {
    margin-right:4px;;
}
.branch-right {
    margin-left:4px;
}
    
.card {
    margin-top:10px;
}
.card-big{
    width:326px;
}
.card-small {
    width:159px;
}
.card-image-big {
    height:150px;
}
.card-image-small {
    height:100px;
}
.card-read {
    padding:10px;
}
.card-read-J {
    background-color:rgb(113, 49, 139);
}
.card-read-U {
    background-color:rgb(101, 4, 178);
}
.card-read-A {
    background-color:rgb(197, 152, 10);
}
.card-read-F {
    background-color:rgb(139, 56, 49);
}
.card-category {
    float:left;
    width:26px;
    height:26px;
    line-height:26px;
    border:1px solid white;
    border-radius:100px;
    color:white;
    text-align:center;
    font-size:16px;
}
.card-title {
    font-size:14px;
    color:white;
    margin-left:40px;
}
.card-content {
    font-size:12px;
    line-height:150%;
    color:white;
    margin:8px 0px 10px 40px;
}
.click-more {
    background-color:white;
    margin-top:10px;
    text-align:center;
    padding:10px 290px;
    cursor:pointer;
}
.more {
    font-size:13px;
    padding:6px 0px;
    float:right;
    color:rgb(152, 147, 147);
}
/*about*/
.center-part {
    float:left;
    height:1200px;
    background-color:white;
    margin-top:60px;
}
.center-left {
    width:150px;
    margin-right:2px;
    padding: 120px 88px 0px 250px;
}
.center-right {
    width:300px;
    padding:120px 148px 0px 40px;
    margin-left:2px;
}
.timeline {
    position:absolute;
    left:415px;
    width:150px;
    height:600px;
    margin:auto;
}
#photo-me {
    position:relative;
    overflow:hidden;
    border-radius:100px;
    width:150px;
    height:150px;
    border: 6px solid rgb(224, 223, 224);
}
.timeline-photo {
    position:relative;
    overflow:hidden;
    border-radius:100px;
    width:100px;
    height:100px;
    border: 4px solid rgb(224, 223, 224);
}
#photo-contact {
    margin:130px auto 100px auto;
}
#photo-study {
    margin:0px  auto 23px auto;
}
#photo-work {
    margin: 50px auto 25px auto;
}
.timeline-year {
    width:50px;
    height:20px;
    line-height:20px;
    font-size:12px;
    text-align:center;
    border-radius:10px;
    background-color:white;
    border: 4px solid rgb(224, 223, 224);
    margin:0px auto 30px auto;
}
.timeline-title {
    text-align:right;
    font-size:20px;
}
#title-name {
    margin-bottom:220px;
}
#title-education {
    margin:190px 0px 310px 0px;
}
.timeline-detail {
    font-size:14px;
    line-height:150%;
}
#detail-aboutme {
    text-indent:2em;
}
#detail-contact {
   margin:150px 0px 168px 0px;
}
.detail-year {
    margin-bottom:28px;
}
.detail-work {
    margin:165px 0px 17px 0px;
}

