.page{
	width: 980px;
	margin: 0 auto;
	height: 1800px;
	background: #ffffff;
	margin-top: 100px;
}
.page > div{
	float: left;
}
.right , .left{
	width: 478px;
	height: inherit;
	position: relative;
} 
.isolate{
	width: 4px;
	height: inherit;
	background: #eeeeee;
}
.icon{
	width: 160px;
	height: 160px;
	border-radius: 100px;
	overflow: hidden;
	border:10px solid #eeeeee;
	position: absolute;
	left: 390px;
	top: -90px;
}
.icon > img{
	width: inherit;
	height: inherit;
}
.text{
	height: 400px;
	padding-right: 100px;
	text-align: right;
	font-size: 25px;
}
.text:first-of-type{
	padding-top:100px;
}
.image{
	position: absolute;
	background: #ffffff;
	left: 400px;
	width: 140px;
	height: 140px;
	overflow: hidden;
	border-radius: 80px;
	border: 10px solid #eeeeee;
	margin-top: -180px;
}
.image > img{
	width: inherit;
	height: inherit;
}
.left > .text{
	text-align: left !important;
	padding-right: 80px !important;
	padding-left: 80px;
	font-size: 15px;
}
.text> p{
	margin: 10px;
}

.text > .exp{
	margin: 50px;
}
.exp > .year{
	border: 4px solid #eeeeee;
	font-size: 20px;
	text-align: center;
	width: 100px;
	position: absolute;
	left: -60px;
	background: #ffffff;
	color: #aaaaaa;
}
.exp > .location{
	border: 4px solid #ffffff;
	font-size: 20px;
	color:#050505;
}