body {
	margin: 0px;
	padding: 0px;
	font-family: "宋体";
	font-weight: lighter;
	min-width: 980px;
}


/*for nav-bar begin*/
nav {
	width: 100%;	
}


nav#nav-top ul {
	margin: 0;
}

nav#nav-top {
	background-color: #5E2D79;
	color: white;
	height: 80px;
	padding: 10px 0;
	position: relative;
	vertical-align: text-bottom;
}

#nav-wrapper {
	width: 980px;
	position: absolute;
	bottom: 5px;
	left: 50%;
	margin-left: -490px;
}

.nav-left {
	width: 200px;
	float: left;
}

#nav-logo {
	text-decoration: none;
	font-size: 25px;
	font-family: sans-serif;
	color: white;
}

.nav-right  {
	margin-left: 200px;
	text-align: right;
}

.nav-right li {
	display: inline-block;
	padding-left: 14px;
	padding-right: 14px;
}

.nav-right li:last-child {
	padding-right: 0px;
}

.nav-right a {
	text-decoration: none;
	color: white;
	font-size: 14px;
}

nav img {
	position: absolute;
	right: 10px;
	top: 66px;
}

/*for nav-bar end*/




/*for banner begin*/

#banner {
	padding: 0;
	background-image: url("../img/banner-bg.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: relative;
	width: 100%;
	/*不给一个固定的height不知道该怎么搞*/
	height: 612px;
}

#inner-wrapper {
	width: 980px;
	margin: 0 auto;
	position: absolute;
	left: 50%;
	margin-left: -490px;
	bottom: 0px; 
	text-align: right;
}

.inner {
	display: inline-block;
	width: 350px;
	padding: 10px 10px 30px 10px;
	color: black;
	font-size: 12px;
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.3) , rgba(255,255,255,0)); /* For Safari 5.1 to 6.0 */
    background: -moz-linear-gradient(bottom, rgba(255,255,255,0.3) , rgba(255,255,255,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(255,255,255,0.3) , rgba(255,255,255,0)); /* Standard syntax (must be last) */
}

.inner h3 {
	text-align: right;
	font-size: 14px;
	margin: 0px;
}

.inner  p {
	text-indent: 30px;
	line-height: 150%;
	margin-bottom: 0;
	text-align: justify;
}


/*for banner end*/


/*for 3 col begin*/

#three-col-wrapper {
	background-color: #eee;
	width: 100%;
	padding-bottom: 150px;
	overflow: hidden;
}

#three-col {
	display: table;
	border-spacing: 10px 0;
	margin: 0 auto;
	margin-top: 10px;
	min-width: 980px;
}



#three-col section {
	background-color: white;
	display: table-cell;
	max-width: 320px;
	vertical-align: top;
	/*padding-bottom: 10px;*/
}

#three-col section img {
	margin: 10px;
}

#three-col section p {
	font-size: 12px;
	line-height: 170%;
	color: black;
	font-weight: bolder;
	margin: 5px 0 0 0;
	padding: 0 30px 25px 30px;
	text-align: justify;
}

/*for 3 col end*/



/*for intro begin*/

#intro {
	text-align: center;
	min-height: 300px;
	margin-bottom: 150px;
}

#intro img#avatar {
	position: relative;
	top: -50px;
}

#intro p#greeting {
	font-family: 'century gothic';
	font-size: 20px;
	margin: 0;
}

#intro p#intro-content {
	text-indent: 30px;
	width: 600px; 
	margin: 40px auto;
	text-align: left;
	font-size: 14px;

}

/*for intro end*/


/*for bottom-nav begin*/

#nav-bottom {
	background-color: black;
	text-align: center;
	height: 30px;
	padding: 5px 0;
}

#nav-bottom ul {
	margin: 0;
	padding: 0;
}

#nav-bottom li {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 8px;
}

#nav-bottom a {
	font-size: 14px;
	font-family: sans-serif;
	text-decoration: none;
	color: white;
}

/*for bottom-nav end*/


/*for bottom-table begin*/
#bottom-table-wrapper {
	width: 100%;
	background-color: #151515;
	color: white;
	padding-top: 40px;
}

#bottom-table {
	width: 980px;
	margin: 0 auto;
}


#bottom-table section {
	float: left;
	vertical-align: top;
	width: 20%;
}

#bottom-table section ul {
	list-style-type: none;
	padding-left: 0px;
	margin: 30px 0; 
}

#bottom-table section p {
	margin: 0;
	font-family: sans-serif;
	font-size: 14px;
}

#bottom-table section a {
	text-decoration: none;
	color: white;
	font-family: sans-serif;
	font-size: 12px;
}

#bottom-table footer {
	clear: both;
	margin: 0 auto;
	text-align: center;
}

#bottom-table footer img {
	position: relative;
	bottom: -5px;
}

/*for bottom-table end*/

