body {
	width: 980px;
	margin: 0 auto;
	padding: 0px;
	font-family: sans-serif;
	font-size: small;
	font-weight: lighter;
	line-height: 1.2em;
}


nav#nav-top ul {
	padding: 0;
}

nav#nav-top {
	background-color: #5E2D79;
	color: white;
	height: 70px;
	padding: 10px;
	position: relative;
	vertical-align: text-bottom;
}

.nav-left {
	width: 200px;
	float: left;
}

#nav-logo {
	text-decoration: none;
	font-size: 25px;
	color: white;
	margin-left: 80px;
}

.nav-right  {
	margin-left: 200px;
	margin-right: 80px;
	text-align: right;
}


.nav-right li {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 5px;
}

.nav-right a {
	text-decoration: none;
	color: white;
}

#nav-wrapper {
	margin-top: 50px;
	line-height: 20px;
}


nav img {
	position: absolute;
	right: 10px;
	top: 56px;
}





#banner {
	padding: 0;
	height: 430px;
	background-image: url("../img/banner-bg.jpg");
	background-size: 980px 430px;
	background-repeat: no-repeat;
	position: relative;
	width: 100%;
}

.inner {
	position: absolute;
	width: 300px;
	padding: 0px 10px 30px 20px;
	background-color: rgba(255, 255, 255, 0.2);	
	color: white;
	font-size: 11px;
	right: 90px;
	bottom: 0px;
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.3) , rgba(255,255,255,0)); /* For Safari 5.1 to 6.0 */
    background: -moz-linear-gradient(bottom, rgba(255,255,255,0.3) , rgba(255,255,255,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(255,255,255,0.3) , rgba(255,255,255,0)); /* Standard syntax (must be last) */
}

.inner h3 {
	text-align: right;
}

.inner  p {
	text-indent: 30px;
}





#three-col {
	/*height: 390px;*/
	background-color: #eee;
	padding-top: 10px;
	padding-bottom: 100px;
	text-align: center;
}

/*自适应就用min-height加vertical-align就行了*/
#three-col section {
	min-height: 360px;
	/*height: 100%;*/
	background-color: #5E2D79;
	display: inline-block;
	margin: 5px;
	width: 250px;
	vertical-align: top;
	padding-bottom: 10px;
}

#three-col section img {
	margin: 10px;
}

#three-col section p {
	color: white;
	margin: 10px 20px 0 20px;
}






#intro {
	text-align: center;
	min-height: 300px;
	margin-bottom: 200px;
}

#intro img#avatar {
	position: relative;
	top: -50px;
}

#intro p#greeting {
	font-size: 1.5em;
}

#intro p#intro-content {
	text-indent: 30px;
	width: 650px; 
	margin: 10px auto;
	text-align: left;

}



#nav-bottom {
	background-color: black;
	text-align: center;
	height: 30px;
}

#nav-bottom ul {
	margin: 0px;
}

#nav-bottom li {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 8px;
}

#nav-bottom a {
	text-decoration: none;
	color: white;
}




