/*
同一 rule set 下的属性在书写时，应按功能进行分组，
并以 Formatting Model（布局方式、位置） > Box Model（尺寸） 
> Typographic（文本相关） > Visual（视觉效果） 的顺序书写，以提高代码的可读性。


解释：

Formatting Model 相关属性包括：position / top / right / bottom / left / float / display / overflow 等

Box Model 相关属性包括：border / margin / padding / width / height 等

Typographic 相关属性包括：font / line-height / text-align / word-wrap 等

Visual 相关属性包括：background / color / transition / list-style 等

另外，如果包含 content 属性，应放在最前面。


清除浮动：

1. 当元素需要撑起

[建议] 当元素需要撑起高度以包含内部的浮动元素时，通过对伪类设置 clear
 或触发 BFC 的方式进行 clearfix。尽量不使用增加空标签的方式。
解释：

触发 BFC 的方式很多，常见的有：

float 非 none
position 非 static
overflow 非 visible
如希望使用更小副作用的清除浮动方法，参见 A new micro clearfix hack 一文。

另需注意，对已经触发 BFC 的元素不需要再进行 clearfix。


3.6 z-index
[建议] 将 z-index 进行分层，对文档流外绝对定位元素的视觉层级关系进行管理。
解释：

同层的多个元素，如多个由用户输入触发的 Dialog，在该层级内使用相同的 z-index 或递增 z-index。

建议每层包含100个 z-index 来容纳足够的元素，如果每层元素较多，可以调整这个数值。

[建议] 在可控环境下，期望显示在最上层的元素，z-index 指定为 999999。
解释：

可控环境分成两种，一种是自身产品线环境；还有一种是可能会被其他产品线引用，但是不会被外部第三方的产品引用。

不建议取值为 2147483647。以便于自身产品线被其他产品线引用时，当遇到层级覆盖冲突的情况，留出向上调整的空间。

[建议] 在第三方环境下，期望显示在最上层的元素，通过标签内联和 !important，将 z-index 指定为 2147483647。
解释：

第三方环境对于开发者来说完全不可控。在第三方环境下的元素，为了保证元素不被其页面其他样式定义覆盖，需要采用此做法。

*/


*{
    padding:0;
}

ul li{
    list-style: none;
}

body{
    font-family: "SimSun", "SimHei", "Times New Roman", Times, serif;
}

header{
    position: relative;
    background-color: purple;
    width: 100%;
    height: 80px;
}

/* [强制] 长度为 0 时须省略单位。 (也只有长度单位可省) */
menu{
    position: absolute;
    left: 10%;
    
    display: inline-flex;
    flex-direction:row ;
    justify-content: space-between;
    align-items: flex-end;

    width:80%;
    height: 80px;
    margin: 0 0;
    padding: 0;
}


menu > div{
    margin:5px 0;
    color:white;
}


.logo{
    font-family: Arial, Helvetica, sans-serif;   
    font-size: larger;
    font-weight: 400;
}

.menu-ul{
    list-style: none;
    font-size: large;
    font-weight: 400;
}

.menu-ul > li{
    float: left;
    margin: 0 5px;
}


.icon{
    position: absolute;
    right: 0;
    margin: auto 10px;
    bottom: -4px;
}


/*  
强制：url() 函数中的路径不加引号。 
建议：url() 函数中的绝对路径可省去协议名。
示例：
*/
.banner{
    position: relative;
    width:100%;
    height: 600px;
    background-image: url(../design/banner-bg.jpg);
    background-size: cover;
}

/* 当数值为 0 - 1 之间的小数时，省略整数部分的 0。 */
.box{
    position: absolute;
    padding: 10px 10px 30px;
    left: 60%;
    right: 10%;
    bottom: 0;

    text-align: right;
    color: white;
    background: rgba(255,255,255,0) linear-gradient(to bottom,rgba(255,255,255,.7),rgba(255,255,255,.5), rgba(255,255,255,0));
}

.box h2{
    font-size: 14px;
}

.box p{
    font-size: 12px;
    line-height: 150%;
}

.main{
    width:100%;
    height: 450px;
    padding: 10px;
    background-color: lightgray;    
}

.main .square{
    width: 1100px;
    margin: 0 auto;
}

.main .block{
    width: 320px;
    padding:10px;
    margin: 0 5px;
    background-color: white;
    float: left;
}

.main .block .pic{
    width: 300px;
    height: 180px;
    background-color: aquamarine;
    margin: 10px ;
}

.main .block p {
    margin: 15px 30px 25px;
}

.introduction{
    width: 100%;
    height: 500px;
}

.photo{
    width: 160px;
    height: 160px;
    margin: -50px auto 50px;
    border-radius: 50%;
    background-color: bisque;
}

.name{
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    font-family:Century Gothic,serif;;
    color:black;
}


.more{
    width: 600px;
    margin: 20px auto;
    text-align: center;
    font-size: 20px;
    color: black;
}



.bottom{
    position: relative;
    width: 100%;
    height: 500px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: black;
    color:white;
}

.bottom .menu-ul{
    border: 1px solid white;
    margin: 5px auto;
    width: 100%;
    height: 30px;
    text-align: center;
}

.bottom .menu-ul ul{
    margin: 0 auto;
}

.bottom .menu-ul>ul li{
    display: inline;
    margin: 0 5px;

}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr 2em) 1fr;
    width: 80%;
    margin: 50px 10% 80px ;
}


.grid li{
    width: 100%;
    margin: 5px 0;
    text-align: left;
}


.grid li:nth-child(1){
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin-bottom: 20px;
}

.grid li:nth-child(3):hover{
    color: red;
}

.element1{
    grid-column: 1;
}

.element2{
    grid-column: 3;
}

.element3 {
    grid-column: 5;
}

.element4 {
    grid-column: 7;
}

.element5{
    grid-column: 9;
}


.end{
    width: 100%;
    position: absolute;
    bottom: 0;
}

.end .text{
    text-align: center;
}

.end .link{
    width: 34px;
    margin: 0 auto;
}

/* 博客页面 */


