
.icon-folder-open:before { content: '\e800'; } /* '' */
.icon-folder:before { content: '\e801'; } /* '' */
.icon-doc-text:before { content: '\e802'; } /* '' */
.icon-cancel:before { content: '\e803'; } /* '' */
.icon-ok-circled:before { content: '\e804'; } /* '' */
.icon-plus:before { content: '\e805'; } /* '' */
.icon-pencil-squared:before { content: '\e806'; } /* '' */
.icon-ninetyninedesigns:before { content: '\e80f'; } /* '' */